<table id="example6" class="table table-bordered table-hover table-condensed'">
  <thead>
    <tr>
      <th>Support Type</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </tr>
  </thead>
  
 <tbody>
    <% @issue_types.each do |issue_type| %>
      <tr>
        <td><%= issue_type.name %></td>
        <td><%= issue_type.status ? "Active" : "Inactive"%></td>
       
          <td>
 <!--          < if issue_type.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
            <= link_to '', edit_issue_type_path(issue_type),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            < else %> -->
            <%= link_to '',  issue_type, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
             <!-- <= link_to '', is_confirm_issue_types_path(issue_type: issue_type),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %> -->
             <%= link_to '', edit_issue_type_path(issue_type),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
             
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>