<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Assign Induction Activities For  
  Template No : <%= @induction_master.code %> - 
  Name : <%= @induction_master.description %> </h3> 
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="induction_activity_li">
			<%= render 'induction_activity_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

