<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Appraiser Rating Confirmation</h4>
    <p>    
      I have set Comment and Rating <br><br>

        With Regards,<br><br>
        BFTL HR
     </p>
  </body>
</html>