<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> ESIC Employer </h3>
  </div><!-- /.box-header -->
 <div class="box-body">
 <div id="form">
 	<%= render 'form' %>
 </div>
 <div id="esic_employer_li">
	<%= render 'esic_employer_list' %> 	
 </div>
</div>
</div>
