<div class="box-header with-border">
  </div>
 <table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
     <tr>
      <td colspan="4"><center>Employee List For Training</center></td>
    </tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>ID</th>
      <th>Name</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
  <% @employees.where(status: "Active").each do |e|  %>
    <tr>
      <td><%= check_box_tag "employee_ids[]", e.id %></td>
      <td><%= e.manual_employee_code %></td> 
      <td><%= full_name(e) %></td>
      <td><%= e.department.try(:name) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>