<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body" style="height:1000px; max-height:120px; width:630px; max-width:630px;">
     <%= bootstrap_form_for :training_request,url:{action:"reject_training_request",id: @training_request.id},html: {id: 'training_request'} do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.text_area :comment,label: 'Comment',placeholder: "Please Enter Reason For Rejection" %>
          </div>
          <div class="col-sm-3" style="padding-top:40px;">
            <%= f.submit "Comment & Reject", class: 'btn btn-sm btn-danger fa fa-modx' %>
          </div>
        </div>
      <% end %>
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    </div>
  </div>
</div>
<script>
$("#training_request").validate({
    rules: {
      "training_request[comment]":{
        required: true,
      }
    },
    messages: {
      "training_request[comment]":{
        required: "Please Specify Comment",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>