<div class="box">
  <div class="box-header">
    <h3 class="box-title">Training Request</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
     <div class="row">
        <div class="col-sm-3">
          <div class="field">
          <%= select :department_id,:hhh, all_department_type_list1,{include_blank: 'Select Department'},{onchange:"var a={department_id:$(this).val()}; $.get('/training_requests/show_dept_wise_form',a,function(response){});",class: 'form-control'} %>
           </div>
        </div>
      </div>
       <div id="training_request_frm"></div>
       <div id="employee_list"></div>
    </div>
  </div>



