<%= bootstrap_form_for(@department_type,html: {id: 'department_type'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Department Type' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Department Type",:class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>