<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department_type.name %>
</p>

<%= link_to 'Edit', edit_department_type_path(@department_type) %> |
<%= link_to 'Back', department_types_path %>
