<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Leave Type</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="leav_category_type_list">
			<%= render 'leav_category_type_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->