<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Leave Types</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="leav_category_list">
			<%= render 'leav_category_type_list' %>
		</div>
		<%= link_to 'Back', leav_categories_path, class: 'btn btn-default' %>
	</div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->