<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">DEPARTMENT DASHBOARD</li>
  <li class="active treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Employee Management</span> 
    </a>
    <ul class="treeview-menu">
      <li><a href="/employees"><i class="fa fa-tags"></i> Employees</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Employee Self Service</span> 
    </a>
    <ul class="treeview-menu">
      <li><a href="/self_services/employee"><i class="fa fa-tags"></i> Employees</a></li>
      <li><a href="/self_services/employee_template"><i class="fa fa-tags"> </i> Salary Structure </a></li>
      <li><a href="/self_services/attendance"><i class="fa fa-tags"></i>Attendance</a></li>
      <li><a href="/self_services/salaryslip"><i class="fa fa-tags"></i>Salaryslips</a></li>
      <li><a href="/self_services/advance"><i class="fa fa-tags"></i>Advance & Instalment</a></li>
      <li><a href="/goal_rating_sheets/new"><i class="fa fa-tags"></i> Self Rating </a></li>
    </ul>
  </li>

  <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-bell"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/employee_leav_requests/employee_list"><i class="fa fa-tags"></i>Create Leave Request</a></li>
      <li><a href="/employee_leav_requests/approved_or_rejected_leave_request"><i class="fa fa-tags"></i>Approve/Reject Leave</a></li>
    </ul>
  </li>

    <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Time Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/employee_shifts"><i class="fa fa-tags"></i> Assign Employee To Shift </a></li>
    </ul>
   </li>

  <li class="treeview">
    <a href="">
      <i class="fa fa-briefcase"></i><span> Recruitment Management </span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/vacancy_masters"><i class="fa fa-tags"></i> Create Vacancy </a></li>
      <li><a href="/vacancy_masters/vacancy_history"><i class="fa fa-tags"></i> Vacancy Aprroval/Reject </a></li>
    </ul>
   </li>

  <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Performance Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>

     <ul class="treeview-menu">
      <li><a href="/employee_goals/subordinate_list"><i class="fa fa-tags"></i> Goals & Attributes</a></li>
      <li><a href="/goal_rating_sheets/subordinate_list"><i class="fa fa-tags"></i> Appraiser Rating </a></li>
      <!-- <li><a href="/attribute_rating_sheets/subordinate_list"><i class="fa fa-tags"></i> Employee Details </a></li> -->
      <li><a href="/goal_rating_sheets/subordinate_list2"><i class="fa fa-tags"></i> Appraiser2 Rating </a></li>
      <li><a href="/goal_rating_sheets/employee_list"><i class="fa fa-tags"></i> Final Rating </a></li>
    </ul>

  <!--   <ul class="treeview-menu">
    <li><a href="/attribute_rating_sheets/subordinate_list"><i class="fa fa-tags"></i> Employee Details </a></li>
    </ul> -->
    
  </li>
</ul>