<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">DEPARTMENT DASHBOARD</li>
  <li class="active treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Employee Management</span> 
    </a>
    <ul class="treeview-menu">
      <li><a href="/employees"><i class="fa fa-tags"></i> Employees</a></li>
    </ul>
  </li>

  <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-bell"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/employee_leav_requests/employee_list"><i class="fa fa-tags"></i>Create Leave Request</a></li>
      <li><a href="/employee_leav_requests/approved_or_rejected_leave_request"><i class="fa fa-tags"></i>Approve/Reject Leave</a></li>
    </ul>
  </li>

    <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Time Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/holidays/new"><i class="fa fa-tags"></i> Holiday </a></li>
      <li><a href="/shift_rotations/new"><i class="fa fa-tags"></i> Create Shift Rotation </a></li>
      <li><a href="/employee_shifts"><i class="fa fa-tags"></i> Assign Employee To Shift </a></li>
      <li><a href="/overtimes"><i class="fa fa-tags"></i> Over Time </a></li>
      <li><a href="/attendances"><i class="fa fa-tags"></i> Employee Attendance </a></li>
    </ul>
   </li>

  <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Performance Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>

     <ul class="treeview-menu">
      <li><a href="/employee_goals/subordinate_list"><i class="fa fa-tags"></i> Performance Sheets</a></li>
    </ul>

    <ul class="treeview-menu">
      <li><a href="/goal_rating_sheets/new"><i class="fa fa-tags"></i>Self Rating </a></li>
    </ul>

    <ul class="treeview-menu">
      <li><a href="/goal_rating_sheets/subordinate_list"><i class="fa fa-tags"></i> Appraiser Rating </a></li>
    </ul>
  </li>
</ul>