<ul class="sidebar-menu">
  <li class="header">  <a href="/home"><Center> <strong>EMPLOYEE</strong></Center></a></li>
    <li class="treeview" id="EmployeeSelfService">
    <a href="">
      <i class="fa fa-user-plus"></i> <span> Employee Self Service </span><i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
    <li><a href="/self_services/employee_contact_library" title="Contains contact list of all employee"><i class="fa fa-tags"></i> Contact Library </a></li>
      <li><a href="/self_services/employee" title="Contains full personal details of employee"><i class="fa fa-tags"></i> Personal Details </a></li>
      <li><a href="/employee_leav_requests" title="For initiating self leave request"><i class="fa fa-tags"></i> Leave Request </a></li>
      <li><a href="/on_duty_requests" title="For initiating self on duty request"><i class="fa fa-tags"></i> On Duty Request </a></li>
      <li><a href="/self_services/leave_c_off" title="For creating self compensatory off"><i class="fa fa-tags"> </i> Comp. Off Request</a></li>
      <li><a href="/leave_transfers/new" title="For applying leave transfer request"><i class="fa fa-tags"></i> Leave Transfer </a></li>
       <li><a href="/employee_attendances/access_record" title="To send the access card request for self"><i class="fa fa-tags"></i> ACF Request </a></li>
       <li><a href="/self_services/employee_attendance" title="To view self attendance and can make excel and pdf report "><i class="fa fa-tags"></i> Attendance </a></li>
       <li><a href="/self_services/holiday_setup" title="Holiday calender , Holidays which is assigned to employees"><i class="fa fa-tags"></i> Holiday Calender</a></li> 
      <!-- <li><a href="/self_services/employee_template" title="To view the self salary structure"><i class="fa fa-tags"> </i> Salary Structure </a></li>
      <li><a href="/self_services/salaryslip" title="To view the self salary slip of particular month and year "><i class="fa fa-tags"></i> Salary Slip </a></li>
      <li><a href="/self_services/travel_request" title="For initiating self travel request"><i class="fa fa-tags"></i> Travel Request </a></li>
      <li><a href="/travel_requests/daily_bill" title="For initiating self expense claim"><i class="fa fa-tags"></i> Expense Claim </a></li> -->
      <li><a href="/training_plans/trainee_list" title="Training feedback form for employee for expressing his/her views about given training"><i class="fa fa-tags"></i> Training Feedback </a></li>
      <li><a href="/self_services/internal" title="For applying to internal vacancy"><i class="fa fa-tags"></i> IJP Opening </a></li>
      <li><a href="/goal_bunches/new" title="For setting , self goals"><i class="fa fa-tags"></i> Goal Setting </a></li>
       <li><a href="/goal_bunches/period_list_appraisee" title="For making the judgement about self goals"><i class="fa fa-tags"></i> Self Evaluation </a></li>
   <!--     <li><a href="/self_services/investment_declaration" title="For creating investment declaration"><i class="fa fa-tags"> </i> Investment Declaration</a></li> -->
      <li><a href="/self_services/employee_resignation" title="For initiating self resignation request"><i class="fa fa-tags"></i> Resignation Request </a></li>
      <li><a href="/self_services/resignation_history" title="For view the self resignation history"><i class="fa fa-tags"></i> Resignation History </a></li>

      <!--  <li><a href="/self_services/advance"><i class="fa fa-tags"></i> Advance & Installment </a></li> -->
      <!-- <li><a href="/employee_attendances/new"><i class="fa fa-tags"></i> Add Attendance </a></li> -->
      <!-- <li><a href="/employee_attendances/loginwise_attendance_form"><i class="fa fa-tags"></i>Attendance </a></li>  -->
      <!-- <li><a href="/self_services/add_attendance" title="For adding self attendance"><i class="fa fa-tags"> </i> Add Attendance</a></li> -->
      <!-- <li><a href="/self_services/employee_transfer" title="Requesting for sef transfer"><i class="fa fa-tags"></i> Transfer Request</a></li> -->
      <!-- <li><a href="/employee_daily_activities/new"><i class="fa fa-tags"></i> Daily Activity </a></li> -->
    </ul>
  </li>
  
  <li class="treeview" id="HelpDesk">
    <a href="#">
      <i class="glyphicon glyphicon-phone-alt"></i> <span>Help Desk</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
       <li class="treeview" id="Process">
        <a href="#"><i class="fa fa-edit"></i> Process  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/issue_requests/new"><i class="fa fa-tags"></i>Support Request</a></li>
        <li><a href="/issue_requests/lock_request_list"><i class="fa fa-tags"></i>Support List</a></li>
        </ul>
      </li>
    </ul>
  </li>
  </ul>

  <script typgre="text/javascript">
  <% unless session[:active_tab].nil? %>
  document.getElementById("<%= session[:active_tab] %>").classList.add("active");
  <%end%>
  <% unless session[:active_tab1].nil? %>
  document.getElementById("<%= session[:active_tab1] %>").classList.add("active");
  <%end%>
  <% unless session[:active_tab2].nil? %>
  document.getElementById("<%= session[:active_tab2] %>").classList.add("active");
  <%end%>
</script>


