<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">EMPLOYEE</li>
  <li class="active treeview">
    <a href="#">
      <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
      <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-files-o"></i>
      <span>Employee Details</span>
      <span class="label label-primary pull-right">4</span>
    </a>
    <ul class="treeview-menu">
      <li class="active"><a href="/employees"><i class="fa fa-circle-o"></i> Employee</a></li>
      <li class="active"><a href="/joining_details"><i class="fa fa-circle-o"></i> Joining Details</a></li>
      <li class="active"><a href="/employee_bank_details"><i class="fa fa-circle-o"></i> Bank Details</a></li>
      <li class="active"><a href="/families"><i class="fa fa-circle-o"></i>Family</a></li>
      <li class="active"><a href="/qualifications"><i class="fa fa-circle-o"></i>Qualification</a></li>
      <li class="active"><a href="/skillsets"><i class="fa fa-circle-o"></i>Skillset</a></li>
      <li class="active"><a href="/certifications"><i class="fa fa-circle-o"></i>Certification</a></li>
      <li class="active"><a href="/awards"><i class="fa fa-circle-o"></i>Award</a></li>
      <li class="active"><a href="/experiences"><i class="fa fa-circle-o"></i>Experience</a></li>
      <li class="active"><a href="/employee_physicals"><i class="fa fa-circle-o"></i>Physical</a></li>
    </ul>
  </li>

   <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-dashboard"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/employee_leav_requests"><i class="fa fa-circle-o"></i> Leave Request</a></li>
    </ul>
  </li>
 </ul>