<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">EMPLOYEE</li>
  <li class="active treeview">
    <a href="/employees">
      <i class="fa fa-dashboard"></i> <span>Home</span> <i class="fa fa-angle-left pull-right"></i>

    </a>
    <!-- <ul class="treeview-menu">
      <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
      <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
    </ul> -->
  </li>

   <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-dashboard"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/employee_leav_requests"><i class="fa fa-circle-o"></i>Create Leave Request</a></li>
      <li><a href="/employee_templates"><i class="fa fa-tags"> </i>  Employees  Salary Template </a></li>
    </ul>
  </li>

  <li><a href="/attendances"><i class="fa fa-circle-o"></i>Attendance</a></li>
  <li><a href="/salaryslips/employee_salary_list"><i class="fa fa-circle-o"></i>Salaryslips</a></li>
  <li><a href="/advance_salaries"><i class="fa fa-circle-o"></i>Advance & Instalment</a></li>

  <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Performance Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/goal_rating_sheets/new"><i class="fa fa-tags"></i> Appraisee Goal Sheet</a></li>
    </ul>
    <ul class="treeview-menu">
      <li><a href="/goal_rating_sheets/appraiser"><i class="fa fa-tags"></i> Appraiser Goal Sheet</a></li>
    </ul>
    <ul class="treeview-menu">
      <li><a href="/attribute_rating_sheets/new"><i class="fa fa-tags"></i> Appraisee Attribute Sheet</a></li>
    </ul>
    <ul class="treeview-menu">
      <li><a href="/attribute_rating_sheets/appraiser"><i class="fa fa-tags"></i> Appraiser Attribute Sheet</a></li>
    </ul>
  </li>
</ul>