<ul class="sidebar-menu">
  <li class="header">  <a href="/home"><Center> <strong>EMPLOYEE</strong></Center></a></li>
    <li class="treeview" id="EmployeeSelfService">
    <a href="">
      <i class="fa fa-user-plus"></i> <span> Employee Self Service </span><i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
    <li><a href="/self_services/employee_contact_library"><i class="fa fa-tags"></i> Contact Library </a></li>
      <li><a href="/self_services/employee"><i class="fa fa-tags"></i> Personal Details </a></li>
      <li><a href="/employee_leav_requests"><i class="fa fa-tags"></i> Leave Request </a></li>
      <li><a href="/self_services/leave_c_off"><i class="fa fa-tags"> </i> Add Compensatory Off </a></li>
      <li><a href="/on_duty_requests"><i class="fa fa-tags"></i> On Duty Request </a></li>
       <li><a href="/employee_attendances/access_record"><i class="fa fa-tags"></i> ACF Request </a></li>
      <li><a href="/self_services/employee_attendance"><i class="fa fa-tags"></i> Attendance </a></li> 
      <li><a href="/self_services/holiday_setup"><i class="fa fa-tags"></i> Holiday Calender</a></li>
      <li><a href="/self_services/employee_resignation"><i class="fa fa-tags"></i> Initiate Resignation </a></li>
      <li><a href="/self_services/resignation_history"><i class="fa fa-tags"></i> Resignation History </a></li>
      <li><a href="/training_plans/trainee_list"><i class="fa fa-tags"></i> Training Feedback </a></li>
      <li><a href="/goal_bunches/new"><i class="fa fa-tags"></i> Goal Setting </a></li>
      <li><a href="/goal_bunches/period_list_appraisee"><i class="fa fa-tags"></i> Self Evaluation </a></li>   
    <li><a href="/self_services/internal"><i class="fa fa-tags"></i> IJP Opening </a></li>


      <li><a href="/frequest_questions/list_of_faq" title="To view the list of frequently asked questions"><i class="fa fa-tags"></i> FAQs </a></li>
      <li><a href="/contact_details"><i class="fa fa-tags"></i> Contact Detail </a></li>
      <!--  <li><a href="/self_services/advance"><i class="fa fa-tags"></i> Advance & Installment </a></li> -->
      <!-- <li><a href="/employee_attendances/new"><i class="fa fa-tags"></i> Add Attendance </a></li> -->
      <!-- <li><a href="/employee_attendances/loginwise_attendance_form"><i class="fa fa-tags"></i>Attendance </a></li>  -->
     
      <!-- <li><a href="/self_services/employee_transfer" title="Requesting for sef transfer"><i class="fa fa-tags"></i> Transfer Request</a></li> -->
      <!-- <li><a href="/employee_daily_activities/new"><i class="fa fa-tags"></i> Daily Activity </a></li> -->
    </ul>
  </li>
  <li class="treeview" id="HelpDesk">
    <a href="#">
      <i class="glyphicon glyphicon-phone-alt"></i> <span>Help Desk</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
       <li class="treeview" id="Process">
        <a href="#"><i class="fa fa-edit"></i> Process  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/issue_requests/new"><i class="fa fa-tags"></i>Support Request</a></li>
        <li><a href="/issue_requests/lock_request_list"><i class="fa fa-tags"></i>Support List</a></li>
        </ul>
      </li>
    </ul>
  </li>
  </ul>

  <script typgre="text/javascript">
  <% unless session[:active_tab].nil? %>
  document.getElementById("<%= session[:active_tab] %>").classList.add("active");
  <%end%>
  <% unless session[:active_tab1].nil? %>
  document.getElementById("<%= session[:active_tab1] %>").classList.add("active");
  <%end%>
  <% unless session[:active_tab2].nil? %>
  document.getElementById("<%= session[:active_tab2] %>").classList.add("active");
  <%end%>
</script>


