<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">GROUP-DASHBOARD</li>
  <li class="active treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Create</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/companies"><i class="fa fa-circle-o"></i> Companies</a></li>
      <li><a href="/company_locations"><i class="fa fa-circle-o"></i>Locations</a></li>
      <li><a href="/departments/new"><i class="fa fa-circle-o"></i>Departments</a></li>
      <li><a href="/employees"><i class="fa fa-circle-o"></i>Employees</a></li>
    </ul>
  </li>
  
  <!--  -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-cogs"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/company_types/new"><i class="fa fa-circle-o"></i> Company Type</a></li>
      <li><a href="/department_types/new"><i class="fa fa-circle-o"></i> Department Type</a></li>
      <li><a href="/blood_groups/new"><i class="fa fa-circle-o"></i>Blood Group</a></li>
      <li><a href="/degrees/new"><i class="fa fa-circle-o"></i>Employee Qualifications</a></li>
      <li><a href="/employee_designations/new"><i class="fa fa-circle-o"></i>Employee Designation</a></li>
      <li><a href="/employee_types/new"><i class="fa fa-circle-o"></i>Employee Type</a></li>
      <li><a href="/nationalities/new"><i class="fa fa-circle-o"></i>Nationality</a></li>
      <li><a href="/employee_grades/new"><i class="fa fa-circle-o"></i>Employee Grade</a></li>
      <li><a href="/leav_categories/new"><i class="fa fa-circle-o"></i>Leave Type</a></li>
      <li><a href="/roles/new"><i class="fa fa-circle-o"></i>Role Type</a></li>
      <li><a href="/cost_centers/new"><i class="fa fa-circle-o"></i>Cost Center</a></li>
      <li><a href="/degree_types/new"><i class="fa fa-circle-o"></i>Degree Type</a></li>
      <li><a href="/degree_streams/new"><i class="fa fa-circle-o"></i>Degree Stream</a></li>
      <li><a href="/universities/new"><i class="fa fa-circle-o"></i> Add University</a></li>
      <li><a href="/company_shifts/new"><i class="fa fa-circle-o"></i>Company Shift</a></li>
      
    </ul>
  </li>
  <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-bell"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/company_leavs/new"><i class="fa fa-circle-o"></i> Set Leave</a></li>
      <li><a href="/employee_leav_requests/approved_or_rejected_leave_request"><i class="fa fa-circle-o"></i>Approv/Reject Leave</a></li>
    </ul>
  </li>

  <li class="treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>User</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/employees/assign_role"><i class="fa fa-circle-o"></i> Create User</a></li>
      <li><a href="/home/created_user"><i class="fa fa-circle-o"></i>Created User</a></li>
    </ul>
  </li>
  
</ul>