<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">GROUP DASHBOARD</li>
  <li class="active treeview">
    <a href="">
      <!-- <i class="fa fa-user-plus"></i> <span>Create</span> <i class="fa fa-angle-left pull-right"></i> -->
      <i class="fa fa-user-plus"></i> <span>Company Details</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/companies"><i class="fa fa-circle-o"></i> Companies</a></li>
      <li><a href="/company_locations"><i class="fa fa-circle-o"></i> Locations</a></li>
      <li><a href="/departments/new"><i class="fa fa-circle-o"></i> Departments</a></li>
    </ul>
  </li>
  <!-- <li class="header">GROUP DASHBOARD</li> -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Employee Management</span> 
    </a>
    <ul class="treeview-menu">
      <li><a href="/employees"><i class="fa fa-circle-o"></i> Employees</a></li>
    </ul>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span>Master</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="#"><i class="fa fa-edit"></i> Company <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/company_types/new"><i class="fa fa-tags"></i> Company Type</a></li>
           <li><a href="/department_types/new"><i class="fa fa-tags"></i> Department Type</a></li>
           <li><a href="/roles/new"><i class="fa fa-tags"></i> User Type</a></li>
           <li><a href="/cost_centers/new"><i class="fa fa-tags"></i> Cost Center</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-edit"></i> Employee <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
         <li><a href="/employee_grades/new"><i class="fa fa-tags"></i>Employee Grade</a></li>
          <li><a href="/blood_groups/new"><i class="fa fa-tags"></i> Blood Group</a></li>
          <li><a href="/degrees/new"><i class="fa fa-tags"></i> Employee Qualification</a></li>
          <li><a href="/employee_designations/new"><i class="fa fa-tags"></i> Employee Designation</a></li>
          <li><a href="/employee_types/new"><i class="fa fa-tags"></i> Employment Type</a></li>
          <li><a href="/nationalities/new"><i class="fa fa-tags"></i> Nationality</a></li>
          <li><a href="/degree_types/new"><i class="fa fa-tags"></i> Qualification Level</a></li>
          <li><a href="/degree_streams/new"><i class="fa fa-tags"></i> Qualification Specialization</a></li>
          <li><a href="/universities/new"><i class="fa fa-tags"></i> University/Institution</a></li>
          <li><a href="/religions/new"><i class="fa fa-tags"></i> Religion</a></li>
          <li>
            <a href="/banks/new"><i class="fa fa-tags"></i> Bank <i class="fa fa-angle-left pull-right"></i></a>
          </li>
        </ul>
      </li>
      <li>
        
        <ul class="treeview-menu">
         
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-bell"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/leav_categories/new"><i class="fa fa-tags"></i> Leave Type</a></li>
          <li>
      <li><a href="/company_leavs/new"><i class="fa fa-tags"></i> Set Leave</a></li>
      <li><a href="/employee_leav_requests/approved_or_rejected_leave_request"><i class="fa fa-tags"></i>Approve/Reject Leave</a></li>
    </ul>
  </li>

  <li class="treeview">
   <a href="">
     <i class="fa fa-user-plus"></i> <span>User</span> <i class="fa fa-angle-left pull-right"></i>
   </a>
   <ul class="treeview-menu">
     <li><a href="/employees/assign_role"><i class="fa fa-circle-o"></i> Create User</a></li>
     <li><a href="/home/created_user"><i class="fa fa-circle-o"></i>Created User</a></li>
   </ul>
 </li>
  <li class="treeview">
    <a href="">
      <!-- <i class="ionicons ion-social-usd"></i>  <span>PayRoll </span> <i class="fa fa-angle-left pull-right"></i> -->
      <i class="ionicons ion-social-usd"></i>  <span>PayRoll Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/salary_components/new"><i class="fa fa-tags"></i>  Salary Component</a></li>
      <li><a href="/salary_templates/new"><i class="fa fa-tags"></i> Create Salary Template</a></li>
      <li><a href="/employee_salary_templates"><i class="fa fa-tags"></i> Assign Template to Employee</a></li>
       <li><a href="/employee_salary_templates/show_employee_list"><i class="fa fa-tags"> </i>  Employee list Pay Slip </a></li>
      <li><a href="/employee_salary_templates/salary_template"><i class="fa fa-tags"> </i>  Employee Monthly Salary </a></li>
      <!-- <li><a href="/employee_annual_salaries/created_employee_annual_salary"><i class="fa fa-tags"> </i>  Employee Pay Slip </a></li> -->
      <li><a href="/workingdays"><i class="fa fa-tags"> </i>  Employee workingdays </a></li>
      <li><a href="/advance_salaries"><i class="fa fa-tags"> </i>  Employee Salary Advance</a></li>
      <li><a href="/instalments"><i class="fa fa-tags"> </i>  Employee Instalment </a></li>
    </ul>
   </li>
    <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Time Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/holidays/new"><i class="fa fa-circle-o"></i> Holiday </a></li>
      <li><a href="/company_shifts/new"><i class="fa fa-circle-o"></i> Create Shifts </a></li>
      <li><a href="/shift_rotations/new"><i class="fa fa-circle-o"></i> Create Shift Rotation </a></li>
      <li><a href="/employee_shifts"><i class="fa fa-circle-o"></i> Assign Employee To Shift </a></li>
      <li><a href="/overtimes"><i class="fa fa-circle-o"></i> Over Time </a></li>
      <li><a href="/attendances"><i class="fa fa-circle-o"></i> Employee Attendance </a></li>
    </ul>
   </li>
</ul>