<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">GROUP-DASHBOARD</li>
  <li class="active treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Create</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/companies"><i class="fa fa-circle-o"></i> Companies</a></li>
      <li><a href="/company_locations"><i class="fa fa-circle-o"></i> Locations</a></li>
      <li><a href="/departments/new"><i class="fa fa-circle-o"></i> Departments</a></li>
      <li><a href="/employees"><i class="fa fa-circle-o"></i> Employees</a></li>
    </ul>
  </li>
  
  <!--  -->
<li class="treeview">
    <a href="#">
      <i class="fa fa-cogs"></i> <span>Settings</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
       <a href="#"><i class="glyphicon glyphicon-import"></i>  Company Setting 
       </a>
        <ul class="treeview-menu">
           <li><a href="/company_types/new"><i class="glyphicon glyphicon-chevron-right"></i> Company Type</a></li>
           <li><a href="/department_types/new"><i class="glyphicon glyphicon-chevron-right"></i> Department Type</a></li>
           <li><a href="/employee_grades/new"><i class="glyphicon glyphicon-chevron-right"></i> Employee Grade</a></li>
           <li><a href="/roles/new"><i class="glyphicon glyphicon-chevron-right"></i> User Role</a></li>
           <li><a href="/cost_centers/new"><i class="glyphicon glyphicon-chevron-right"></i> Cost Center</a></li>
           <li><a href="/company_shifts/new"><i class="glyphicon glyphicon-chevron-right"></i> Company Shift</a></li>
        </ul>
    </ul>

     <ul class="treeview-menu">
       <a href="#"><i class="glyphicon glyphicon-import"></i>  Employees Setting  </a>
        <ul class="treeview-menu">
          <li><a href="/blood_groups/new"><i class="glyphicon glyphicon-chevron-right"></i> Blood Group</a></li>
          <li><a href="/degrees/new"><i class="glyphicon glyphicon-chevron-right"></i> Employee Qualifications</a></li>
          <li><a href="/employee_designations/new"><i class="glyphicon glyphicon-chevron-right"></i> Employee Designation</a></li>
          <li><a href="/employee_types/new"><i class="glyphicon glyphicon-chevron-right"></i> Employment Type</a></li>
          <li><a href="/nationalities/new"><i class="glyphicon glyphicon-chevron-right"></i> Nationality</a></li>
          <li><a href="/degree_types/new"><i class="glyphicon glyphicon-chevron-right"></i> Qualification Level</a></li>
          <li><a href="/degree_streams/new"><i class="glyphicon glyphicon-chevron-right"></i> Qualification Specialization</a></li>
          <li><a href="/universities/new"><i class="glyphicon glyphicon-chevron-right"></i> University/Institutions</a></li>
          <li><a href="/religions/new"><i class="glyphicon glyphicon-chevron-right"></i> Religion</a></li>
          <li><a href="/banks/new"><i class="glyphicon glyphicon-chevron-right"></i> Bank</a></li>
        </ul>
    </ul>

     <ul class="treeview-menu">
       <a href="#"><i class="glyphicon glyphicon-import"></i>  Leave Setting </a>
        <ul class="treeview-menu">
           <li><a href="/leav_categories/new"><i class="glyphicon glyphicon-chevron-right"></i> Leave Type</a></li>
           <li><a href="/employee_shifts"><i class="glyphicon glyphicon-chevron-right"></i> Employee Shift</a></li>
        </ul>
    </ul>
  </li>

  <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-bell"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/company_leavs/new"><i class="fa fa-circle-o"></i> Set Leave</a></li>
      <li><a href="/employee_leav_requests/approved_or_rejected_leave_request"><i class="fa fa-circle-o"></i>Approve/Reject Leave</a></li>
    </ul>
  </li>

  <li class="treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>User</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/employees/assign_role"><i class="fa fa-circle-o"></i> Create User</a></li>
      <li><a href="/home/created_user"><i class="fa fa-circle-o"></i>Created User</a></li>
    </ul>
  </li>
  
</ul>