<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">GROUP</li>
  <li class="active treeview">
    <a href="">
      <i class="fa fa-dashboard"></i> <span>Create</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/companies"><i class="fa fa-circle-o"></i> Company</a></li>
      <li><a href="/company_locations"><i class="fa fa-circle-o"></i> Company Location</a></li>
      <li><a href="/departments"><i class="fa fa-circle-o"></i>Department</a></li>

    </ul>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-files-o"></i>
      <span>Employee Details</span>
      <span class="label label-primary pull-right">4</span>
    </a>
    <ul class="treeview-menu">
      <li class="active"><a href="/employees"><i class="fa fa-circle-o"></i> Employee</a></li>
      <li class="active"><a href="/joining_details"><i class="fa fa-circle-o"></i> Joining Details</a></li>
      <li class="active"><a href="/employee_bank_details"><i class="fa fa-circle-o"></i> Bank Details</a></li>
      <li class="active"><a href="/families"><i class="fa fa-circle-o"></i>Family</a></li>
      <li class="active"><a href="/qualifications"><i class="fa fa-circle-o"></i>Qualification</a></li>
      <li class="active"><a href="/skillsets"><i class="fa fa-circle-o"></i>Skillset</a></li>
      <li class="active"><a href="/certifications"><i class="fa fa-circle-o"></i>Certification</a></li>
      <li class="active"><a href="/awards"><i class="fa fa-circle-o"></i>Award</a></li>
      <li class="active"><a href="/experinces"><i class="fa fa-circle-o"></i>Experience</a></li>
      <li class="active"><a href="/employee_physicals"><i class="fa fa-circle-o"></i>Physical</a></li>
    </ul>
  </li>
  <!--  -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-dashboard"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/company_types"><i class="fa fa-circle-o"></i> Company Type</a></li>
      <li><a href="/department_types"><i class="fa fa-circle-o"></i> Department Type</a></li>
      <li><a href="/blood_groups"><i class="fa fa-circle-o"></i>Blood Group</a></li>
      <li><a href="/employee_types"><i class="fa fa-circle-o"></i>Employee Type</a></li>
      <li><a href="/nationalities"><i class="fa fa-circle-o"></i>Nationality</a></li>
      <li><a href="/employee_grades"><i class="fa fa-circle-o"></i>Employee Grade</a></li>
      <li><a href="/leav_categories"><i class="fa fa-circle-o"></i>Leave Category</a></li>
      <li><a href="/roles"><i class="fa fa-circle-o"></i>Add Role</a></li>
    </ul>
  </li>
  <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-dashboard"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/company_leavs"><i class="fa fa-circle-o"></i> Set Leave</a></li>
      <li><a href="/employee_leav_requests/approved_or_rejected_leave_request"><i class="fa fa-circle-o"></i>Approv/Reject Leave</a></li>
    </ul>
  </li>

  <li>
    <a href="/employees/assign_role">
      <i class="fa fa-th"></i> <span>Assign Role</span> <small class="label pull-right bg-green">new</small>
    </a>
  </li>
  
</ul>