<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">GROUP DASHBOARD</li>
  <li class="treeview">
    <a href="">
      <!-- <i class="fa fa-user-plus"></i> <span>Create</span> <i class="fa fa-angle-left pull-right"></i> -->
      <i class="fa fa-user-plus"></i> <span>Company Details</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/companies"><i class="fa fa-tags"></i> Companies</a></li>
      <li><a href="/company_locations"><i class="fa fa-tags"></i> Locations</a></li>
      <li><a href="/departments/new"><i class="fa fa-tags"></i> Departments</a></li>
    </ul>
  </li>
  <!-- <li class="header">GROUP DASHBOARD</li> -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Employee Management</span> 
    </a>
    <ul class="treeview-menu">
      <li><a href="/employees"><i class="fa fa-tags"></i> Employees</a></li>
      <li><a href="/society_member_ships"><i class="fa fa-tags"> </i> Society Membership</a></li>
    </ul>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span>Master</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="#"><i class="fa fa-edit"></i> Company <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/company_types/new"><i class="fa fa-tags"></i> Company Type</a></li>
           <li><a href="/department_types/new"><i class="fa fa-tags"></i> Department Type</a></li>
           <li><a href="/cost_centers/new"><i class="fa fa-tags"></i> Cost Center</a></li>
           <li><a href="/roles/new"><i class="fa fa-tags"></i> System Role </a></li>
           <li><a href="/payment_modes/new"><i class="fa fa-tags"></i> Payment Mode </a></li>
           <li><a href="/banks/new"><i class="fa fa-tags"></i> Bank </i></a></li>
          
        </ul>
      </li>
        <li>
        <a href="#"><i class="fa fa-edit"></i> Payroll <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/advance_types/new"><i class="fa fa-tags"></i> Advance Type </a></li>
           <li><a href="/expencess_types/new"><i class="fa fa-tags"></i> Expencess Type </a></li>
          <li><a href="/food_coupan_masters/new"><i class="fa fa-tags"></i> Food Coupan Type </a></li>
        </ul>
       </li>
      <li>
        <a href="#"><i class="fa fa-edit"></i> Employee <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/employee_grades/new"><i class="fa fa-tags"></i>Employee Grade</a></li>
          <li><a href="/employee_types/new"><i class="fa fa-tags"></i> Employment Type</a></li>
          <li><a href="/employee_categories/new"><i class="fa fa-tags"></i> Employee Category</a></li>
          <li><a href="/employee_designations/new"><i class="fa fa-tags"></i> Employee Designation</a></li>
          <li><a href="/nationalities/new"><i class="fa fa-tags"></i> Nationality</a></li>
          <li><a href="/reserved_categories/new"><i class="fa fa-tags"></i> Reserved Category</a></li>
          <li><a href="/religions/new"><i class="fa fa-tags"></i> Religion</a></li>
          <li><a href="/blood_groups/new"><i class="fa fa-tags"></i> Blood Group</a></li>
        </ul>
       </li>

       <li>
        <a href="#"><i class="fa fa-edit"></i> Qualification <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="/degrees/new"><i class="fa fa-tags"></i>Qualification</a></li>
          <li><a href="/degree_types/new"><i class="fa fa-tags"></i>Qualification Level</a></li>
          <li><a href="/degree_streams/new"><i class="fa fa-tags"></i>Specialization</a></li>
          <li><a href="/universities/new"><i class="fa fa-tags"></i>University/Institution</a></li>
        </ul>
       </li>

      <li>
        <a href="#"><i class="fa fa-edit"></i> Settings <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/esic_masters/new"><i class="fa fa-tags"></i> ESIC Master</a></li>
           <li><a href="/pf_masters"><i class="fa fa-tags"></i> PF Master</a></li>
           <li><a href="/professional_taxes/new"><i class="fa fa-tags"></i> Prof.Tax Master</a></li>
           <li><a href="/overtime_masters/new"><i class="fa fa-tags"></i> Overtime </a></li>
           <li><a href="/well_faires/new"><i class="fa fa-tags"></i> Well Faire</a></li>
           <li><a href="/bonus_masters/new"><i class="fa fa-tags"></i> Bonus Master </a></li>
           <li><a href="/retention_moneys/new"><i class="fa fa-tags"></i> Retention Money </a></li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-edit"></i> Performance <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/goal_perspectives/new"><i class="fa fa-tags"></i>Goal Perspective</a></li>
          
          <li><a href="/attribute_masters/new"><i class="fa fa-tags"></i>Attribute</a></li>
          <li><a href="/definitions/new"><i class="fa fa-tags"></i>Definition</a></li>
        </ul>
      </li>
    
    </ul>
  </li>

  <li class="treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>User</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/reporting_masters/new"><i class="fa fa-tags"></i> Reporting Manager</a></li>
      <li><a href="/employees/assign_role"><i class="fa fa-tags"></i> Create User</a></li>
      <li><a href="/home/created_user"><i class="fa fa-tags"></i>Created User</a></li>
      <li><a href="/roles/role_edit_list"><i class="fa fa-tags"></i>Update User Role</a></li>
      <li><a href="/employees/manager"><i class="fa fa-tags"></i>Update Reporting Manager</a></li>
    </ul>
  </li>

   <!-- Leave management -->
  <li class="treeview">
    <a href="">
      <i class="fa fa-bell"></i> <span>Leave Management</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/leav_categories/new"><i class="fa fa-tags"></i> Leave Type</a></li>
      <li><a href="/employee_leav_balances"><i class="fa fa-tags"></i> Assign Leave</a></li>
      <li><a href="/leave_c_offs/new"><i class="fa fa-tags"></i> Add C.Off</a></li>
      <li><a href="/employee_leav_requests/employee_list"><i class="fa fa-tags"></i>Create Leave Request</a></li>
      <li><a href="/employee_leav_requests/approved_or_rejected_leave_request"><i class="fa fa-tags"></i>Approve/Reject Leave</a></li>
    </ul>
  </li>

  <li class="treeview">
    <a href="#">
      <i class="ionicons ion-social-usd"></i> <span>Payroll Management</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="#"><i class="fa fa-edit"></i> Salary Master <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/salary_components/new"><i class="fa fa-tags"></i>Salary Component</a></li>
        <li><a href="/salary_templates/new"><i class="fa fa-tags"></i>Salary Template</a></li>
        <li><a href="/employee_templates/fresh_template"><i class="fa fa-tags"></i>Salary Breakup</a></li>
        <li><a href="/employee_templates"><i class="fa fa-tags"></i>Salary Increment</a></li>
          
        </ul>
      </li>


      <li>
        <a href="#"><i class="fa fa-edit"></i> Monthly Amount <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/advance_salaries"><i class="fa fa-tags"> </i>Salary Advance</a></li>
        <li><a href="/food_deductions"><i class="fa fa-tags"> </i>Food Deduction</a></li>
        <li><a href="/monthly_expences"><i class="fa fa-tags"> </i>Monthly Expences</a></li>
        <li><a href="/instalments"><i class="fa fa-tags"> </i>Monthly Installment</a></li>
        </ul>
       </li>


        <li>
        <a href="#"><i class="fa fa-edit"></i> Salary Process <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/workingdays"><i class="fa fa-tags"> </i>Working Days </a></li>
        <li><a href="/employee_salary_templates/salary_template"><i class="fa fa-tags"> </i>Employee Monthly Salary </a></li>
        <li><a href="/salaryslips/select_month_year_form"><i class="fa fa-tags"> </i>  All Monthly Salary </a></li>
        </ul>
       </li>

       <li>
        <a href="#"><i class="fa fa-edit"></i> Overtime <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/overtime_daily_records"><i class="fa fa-tags"> </i> Overtime Record </a></li>
        <li><a href="/overtime_month_records/new"><i class="fa fa-tags"> </i> Overtime Monthly Record</a></li>
        <li><a href="/overtime_salaries/select_month_year_form"><i class="fa fa-tags"> </i> Overtime</a></li>
        </ul>
       </li>


        <li>
        <a href="#"><i class="fa fa-edit"></i> Salary Report <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/salaryslips/employee_salary_list"><i class="fa fa-tags"> </i>Salary Slip </a></li>
        <li><a href="/reports/salaries/new"><i class="fa fa-tags"> </i>Salary Reports </a></li>
        <!-- <li><a href="/employee_annual_salaries/created_employee_annual_salary"><i class="fa fa-tags"> </i>  Employee Pay Slip </a></li> -->

        </ul>
       </li>
       <li>
        <ul class="treeview-menu">
       </li>
        </ul>
       </li>
    </ul>
  </li>

  <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Safety Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/accident_records"><i class="fa fa-tags"></i> Accident Record </a></li>
    </ul>
   </li>

    <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Time Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/holidays/new"><i class="fa fa-tags"></i> Holiday </a></li>
      <li><a href="/company_shifts/new"><i class="fa fa-tags"></i> Create Shifts </a></li>
      <li><a href="/shift_rotations/new"><i class="fa fa-tags"></i> Create Shift Rotation </a></li>
      <li><a href="/employee_shifts"><i class="fa fa-tags"></i> Assign Employee To Shift </a></li>
      <li><a href="/attendances"><i class="fa fa-tags"></i> Employee Attendance </a></li>
    </ul>
   </li>

   <li class="treeview">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span><span>  Performance Management </span></span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/employee_goals/new"><i class="fa fa-tags"></i> Goal Sheet </a></li>
    </ul>
    <ul class="treeview-menu">
      <li><a href="/employee_attributes/new"><i class="fa fa-tags"></i> Attribute Sheet </a></li>
    </ul>
    
   </li>
</ul>