<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
<ul class="sidebar-menu">
  <li class="header">Salary Account</li>
  <li class="active treeview">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Employee Self Services</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/self_services/employee"><i class="fa fa-tags"></i>Employees</a></li>
      <li><a href="/employee_leav_requests"><i class="fa fa-tags"></i>Leave Request</a></li>
      <li><a href="/self_services/employee_template"><i class="fa fa-tags"></i>Salary Structure</a></li>
      <li><a href="/self_services/attendance"><i class="fa fa-tags"></i>Attendance</a></li>
      <li><a href="/self_services/salaryslip"><i class="fa fa-tags"></i>Salary Slip</a></li>
       <li><a href="/employee_daily_activities/new"><i class="fa fa-tags"></i>Daily Activity</a></li>
      <li><a href="/self_services/advance"><i class="fa fa-tags"></i>Advance & Installment</a></li>
      <li><a href="/goal_bunches/new"><i class="fa fa-tags"></i> Set Goal </a></li>
      <li><a href="/goal_bunches/period_list_appraisee"><i class="fa fa-tags"></i> Self Evaluation</a></li>
       <li><a href="/training_plans/trainee_list"><i class="fa fa-tags"></i> Training Feedback </a></li>
       <li><a href="/self_services/travel_request"><i class="fa fa-plane"></i> Travel Request </a></li>
    </ul>      
  </li>
</ul>  
  <li class="treeview">
  <a href="/advance_salaries"><i class="fa fa-tags"> </i>Salary Advance</a>
  <li><a href="/reports/advance_salaries/new"><i class="fa fa-tags"> </i>Salary Advance Report</a></li>
  <li><a href="/reports/instalment_details/new"><i class="fa fa-tags"> </i>Monthly Installment Report </a></li>
  </li>
    

    <li class="treeview" id="issuetracker">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span>Help Desk</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
       
       <li class="treeview" id="issueprocess1"> <a href="#"><i class="fa fa-edit"></i>Setup <i class="fa fa-angle-left pull-right"></i></a>
       <ul class="treeview-menu">
       <li><a href="/issue_tracker_groups/new"><i class="fa fa-tags"></i>Group</a></li>
        <li><a href="/issue_tracker_members/new"><i class="fa fa-tags"></i>Member</a></li>
         
       
       </ul>
      </li> 
       <li class="treeview" id="issueprocess">
        <a href="#"><i class="fa fa-edit"></i> Issue Process  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/issue_types/new"><i class="fa fa-tags"></i>Issue Type</a></li>
        <li><a href="/issue_masters/new"><i class="fa fa-tags"></i>Issue Master</a></li>
        <li><a href="/issue_root_causes/new"><i class="fa fa-tags"></i>Issue Root Cause</a></li>
        <li><a href="/issue_requests/new"><i class="fa fa-tags"></i>Issue Request</a></li>
        <li><a href="/issue_requests/lock_request_list"><i class="fa fa-tags"></i>Issue List</a></li>
        <li><a href="/issue_requests/solved_issues"><i class="fa fa-tags"></i>Solved Issues</a></li>
        <li><a href="/issue_requests/groupwise_report"><i class="fa fa-tags"></i>Group Wise Report</a></li>
        <li><a href="/issue_requests/datewise_report"><i class="fa fa-tags"></i>Date Wise Report</a></li>
        </ul>
      </li>
    </ul>
  </li>

 </ul>