<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Assign Week Off </h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
 <div id="week_off_in_attendance">
	<%= render 'week_off_in_attendance' %> 	
 </div>
		<!-- <div id="rating_list">
			<= render 'week_off_list' %>
		</div> -->
	</div><!-- /.box-body -->
</div><!-- /.box -->