<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Professional Tax (PT)</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="professional_tax_li">
			<%= render 'professional_tax_list' %>
		</div>
		<!-- <= link_to 'Back', professional_taxes_path %> -->
	</div><!-- /.box-body -->
</div><!-- /.box -->