<div class="box">
  <div class="box-header">
    <h3 class="box-title">Dynamic Dropdown</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  	 <div class="row">
      <div class="col-sm-3">
        <div class="field">
          <%= select :company_id, all_company_with_location,{label: 'Company',include_blank: " Select Department Location"},class: "form-control" %>
         </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <%= select :company_location_id, all_company_with_location,{label: 'Company Location',include_blank: " Select Department Location"},class: "form-control" %>
        </div>
      </div>
       <div class="col-sm-3">
        <div class="field">
           <%= select :department_id, all_department_type_list2,{label: 'Department',include_blank: " Select Department Location"},class: "form-control" %>
        </div>
      </div>
      </div><br>
</div>
</div>
