<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Loan Approval Process</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="approval_list">
			<%= render 'approval_list' %>
		</div>
	</div><!-- /.box-body -->
</div>