<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Resource Pool</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="pool_list">
			<%= render 'pool_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->