<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Birthday Wishes</h4>
    <p>
       Dear <%= @employee.first_name.to_s %> <%= @employee.last_name.to_s %><br><br>
           Wishing you many many happy returns of the day.
      <div class="row">
        <div class="col-sm-5">
            With Regards,<br><br>
            BFTL HR
        </div>
      </div>
       <!-- <img src="/assets/images/bday.jpg" height="100px" width="200px"> -->
    </p>
  </body>
</html>