<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <p><center><%= image_tag  attachments['mail_signature.png'].url  -%></center></p><br>

    <p><center><b> Welcome to the <%= @emp.company.name %> Family!!</b></center>

    <p>You can access all employee related services and post your suggestions/grievances on the HRMS.</p>

    <p>This is to inform you that your employee ID is <b><%= @manual_employee_code %></b> and default password is <b><%= @password %></b>.
     You can change your password by going to the My Profile  section -> Add the current password and new password and click on update profile.</p><br>
  </body>
</html>