<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
     <h4>Confirmation Email</h4>
    <p><center><b> Welcome in HRMS of <%= @emp.company.name %> Family!!</b></center>

    <p>You can access all employee related services and post your suggestions/grievances on the HRMS.</p>

    <p>This is to inform you that your default password is <b><%= @password %></b>.
     You can change your password by going to the My Profile  section -> Add the current password and new password and click on update profile.</p><br>

     <br><p><%= image_tag  attachments['logo1.jpg'].url  -%></p>
  </body>
</html>