<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
     <h4>Confirmation Email</h4>
    <p>
     <td> Welcome in HRMS of <%= @emp.company.name %> !!
     This is to inform you that your default password is <b><%= @password %></b>
     You can change your password.</td>
    </p>
  </body>
</html>