<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
     <h4>Confirmation Email</h4>
    <p>
     <td>  Welcome to the HRMS of SG Analytics India !! !!
     Your default password is <b><%= @password %></b>. You can change your password by going to the My Profile section -> Add the current password and new password and click on update profile.
    </p>
  </body>
</html>