<style>
th {
    text-align: left;
}
</style>
<style>
   table {
  page-break-inside: avoid; 
}
</style>
<h2><strong>Interview Analysis List</strong></h2><br><br>
<table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Interview evalution</th>
      <th>Interview attribute</th>
      <th>Interview decision</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @interview_analyses.each do |interview_analysis| %>
      <tr>
        <td><%= interview_analysis.interview_evalution.name %></td>
        <td><%= interview_analysis.interview_attribute.name %></td>
        <td><%= interview_analysis.interview_decision.name %></td>
        <td><%= interview_analysis.comment %></td>
      </tr>   
    <% end %>
  </tbody>
</table>