 <div class="box-body">
  <table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
  <tr><th colspan="4"><center>Performance Status</center></th></tr>
    <tr>
      <th>Sr. No</th>
      <th>Employee Code</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @goal_bunches.each do |goal_bunch| %>
      <tr>
        <td><%= i = i + 1 %></td>
        <td><%= goal_bunch.employee.manual_employee_code %></td>
        <td><%= full_name(goal_bunch.employee) %></td>
        <td>
            <% if goal_bunch.final_confirm == true %>
                <small class="label label-success">Final Approved</small>
              <% elsif goal_bunch.reviewer_confirm == true %>
                <small class="label label-warning">Approved By Reviewer</small>
              <% elsif goal_bunch.appraiser_confirm == true %>
                <small class="label label-default">Approved By Appraiser</small>
              <% elsif goal_bunch.appraisee_confirm == true %>
                <small class="label label-info">Approved By Appraisee</small>
              <% elsif goal_bunch.goal_approval == true %>
                <small class="label label-primary">Goal Confirmed</small>
              <% elsif goal_bunch.goal_approval == false && goal_bunch.goal_confirm == true %>
                <small class="label label-danger">Goals Send For Confirmation</small>
              <% elsif goal_bunch.period_id != nil && goal_bunch.employee_id != nil %>
                <small class="label label-info">Period Set</small>
              <% else %>
                <small class="label label-info"></small>
            <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example2').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>