<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title"><center> Update Comment & Rating </center></h5>
    </div>
    <div class="modal-body">

      <%= bootstrap_form_for @goal_rating,url:{action: "update_self_modal",goal_rating_id:@goal_rating.id} do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <label>Self Comment</label>
            <%= f.text_area :appraisee_comment,hide_label:true, placeholder: "Self comment" %>    
          </div>
          <div class="col-sm-3">
            <label>Self Rating</label>
            <%= f.select :appraisee_rating_id,all_rating_type,{hide_label:true, include_blank: "select rating"} %>
          </div>

          <div class="col-sm-3" style="padding-top:20px;">
            <%= f.submit "Update", class: 'btn btn-success btn-sm' %>
          </div>
        </div>
      <% end %>
     
  
      </div>
    <div class="modal-footer"></div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
