<div class="box box-default">
	<div class="box-header">
    <h3 class="box-title">Goal Setting</h3> 
  </div>
  <div class="box-body">

	  	<table id="example1" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Period</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @goal_bunches.each do |g| %>
            <tr>
              <td><%= g.employee.manual_employee_code %></td>
              <td><%= full_name(g.employee) %></td>
              <td><%= g.period.name %></td>
              <td>
              	<%= link_to 'Set Goal', new_goal_rating_path(emp_id: g.employee_id,id: g.id),class: 'btn btn-primary btn-xs' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>