<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Set Goals And Attribute</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
	<div class="row">
			<div class="col-sm-3">
				<%=select :parent, :select_s,['Goal','Attribute'],{include_blank: " Select Option"} %>
			</div>
			<div class="col-sm-8">
				
			</div>
		</div><br>

		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="goal_rating_list">
			<%= render 'goal_rating_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->