<div class="box box-default">
	<div class="box-body">
		<div class="col-sm-3">
		<label>Performance Type</label>
		  <div class="field">
		    <%= select :salary,:month, ['Goals','Attribute'],{label: 'Select Performance Type',include_blank: " Select Performance Type"}, class: "form-control" %>
		   </div>
		</div>
	</div>
</div>