
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Period</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:salary, url: { action: 'managerwise_status'},html: {id: "salary"},remote: true) do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= select :salary, :period_id, all_period_type,{label: 'Period',include_blank: " Select Period"},{class: "form-control"} %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-sm btn-primary", id: "buttonCtc" %>
          </div>
        </div>
      </div><br>

      <div id="managerwise_status"></div>
      
    <% end %>
    
  </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">
  

 $("#salary").validate({
    rules: {
      "salary[period_id]":{
        required: true
      }
    },
    messages: {
      "salary[period_id]":{
        required: "Please specify period"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
