<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body" style="height:250px; max-height:200px; width:630px; max-width:630px;">
     <table id="example2" class="table table-bordered table-hover table-condensed">

        <% @daily_bill_details.each do |daily_bill_detail| %>
          
        <% if daily_bill_detail.passport_photo_file_name == nil %>
          <small class="label label-warning">Not Available</small>
        <% else %>
        <%=link_to image_tag(daily_bill_detail.passport_photo.url(:thumb)),daily_bill_detail.passport_photo.url(:original), :popup=>['original_image', 'height=700,width=900'],:target => "_blank" %>
        <% end %>
       <% end %>
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    </div>
  </div>
</div>
