<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body" style="height:1000px; max-height:100px; width:630px; max-width:630px;">
     <%= bootstrap_form_for :daily_bill_detail,url:{action:"approve_n_send_next", id: @daily_bill_detail.id},html: {id: 'daily_bill_detail'} do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <%= f.select :reporting_master_id, all_reporting_masters_travel_request, {hide_label: true,include_blank: " Select Reporting Manager"}, class: 'input_degree_stream_id' %>
          </div>
          <div class="col-sm-2">
            <%= f.submit "Approve & Send next", class: 'btn btn-sm btn-warning fa fa-modx' %>
          </div>
        </div>
      <% end %>
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    </div>
  </div>
</div>

<script>
$("#vacancy_master").validate({
    rules: {
      "vacancy_master[reporting_master_id]":{
        required: true,
      }
    },
    messages: {
      "vacancy_master[reporting_master_id]":{
        required: "Please specify Reporting Manager Name",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>


