<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Daily Bill</h3>
  </div><!-- /.box-header -->
    <div class="box-body">
    
  <% if @travel_request.is_confirm == true %>
  <% else %>
	    <div id="form">
	      <%= render 'form' %>
	  	</div>
	 <% end %>

	  	<div id="daily_bill_list">
	      <%= render 'daily_bill_list' %>
		</div>
   	</div>
</div>

