<%= bootstrap_form_for(@weekoff_master,remote: true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
      <%= f.select :day, ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],{hide_label: true,include_blank: " Select Day"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Week Off", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>


