<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Day</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @weekoff_masters.each do |weekoff_master| %>
      <tr>
        <td><%= weekoff_master.day %></td>
        <td>
          <%= link_to '', edit_weekoff_master_path(weekoff_master),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
          <%= link_to '', weekoff_master, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger fa fa-close',remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
