.byebug_history
.powenv
.rspec
.rvmrc

/.bundle
/attachments/*
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/log/*
/public/system
/spec/tmp
/tmp
/vendor/assets/bower_components
/vendor/bundle

!/log/.keep
**.orig
*.bowerrc
*.rbc

bower.json
capybara-*.html
pickle-email-*.html
rerun.txt

app/mailers/application_mailer.rb
app/models/daily_attendance.rb
app/views/salaryslips/salary_slip_xls.xls.erb
config/database.yml
config/environments/development.rb
db/schema.rb