.byebug_history
.powenv
.rspec
.rvmrc

/.bundle
/attachments/*
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/log/*
/public/system
/spec/tmp
/tmp
/vendor/assets/bower_components
/vendor/bundle

!/log/.keep
**.orig
*.bowerrc
*.rbc

bower.json
capybara-*.html
pickle-email-*.html
rerun.txt

db/schema.rb