<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Information Report</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:emploee, url: { action: 'employee_basic_info'},remote:true) do |f| %>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group required">
          <%=f.select :company_id, all_company,{include_blank: "Select Company",hide_label: true},{onchange:"var a={id:$(this).val(), form :'employee'}; $.get('/employees/collect_company_location',a,function(response){});", class: "form-control"}%>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group required">
          <div id="company_location1">
            <%= render 'employees/company_loc_dropdown' %> 
          </div>
        </div>
      </div>
    </div>
        
    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Submit", class: "btn btn-sm btn-warning" %>
        </div>
      </div>
    </div><br>
    <div id="basic_info"></div>

    <% end %>
  </div><br><!-- /.box-body -->
  </div>

