<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Information Report</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:salary, url: { action: 'show_employee_detail'},html: {id: "salary"},remote: true) do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
          <%= select :salary,:employee_id, all_inactive_employee_with_code,{include_blank: 'select Employee'},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"}%>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      </div><br>
    <% end %>
    <div class="ajax-progress"></div>
    <div class="row">
      <div class="col-sm-12">
        <div id="employee_list"></div>    
      </div>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">
  $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#salary").submit();
  })
</script>
