<div class="box">
  <div class="box-header">
    <h3 class="box-title">Update Reporting Manager</h3>    
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="myModal"></div>
    <div id="list">
      <%= render 'employee_list_for_update_manager' %>
    </div>        
  </div>
  <div id="update_reporting_manager_modal" class="modal fade"></div>
</div>