<%= link_to 'basic detail',basic_detail_employees_path(id: @employee.id),remote:true%>

<%= link_to 'joining detail',ajax_joining_detail_employees_path(id: @employee.id),remote:true%>

<%= link_to 'bank detail',ajax_bank_detail_employees_path(id: @employee.id),remote:true%>

<%= link_to 'Academic Detail',ajax_bank_detail_employees_path(id: @employee.id),remote:true%>

<div id='info'></div>