<div class="modal-dialog" style="height:1000px; max-height:100px; width:1000px; max-width:1400px;">
  <div class="modal-content">
<div class="modal-body" >
  
        <table class="table no-margin">
          <thead>
            <tr>
              <th>Event Date</th>
              <th>Event Name</th>
              <th>Event Detail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @company_event.event_date %></td>
              <td><%= @company_event.event_name %></td>
              <td><%= @company_event.description %></td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>
