<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company Events</h3>
  </div><!-- /.box-header -->
    <div class="box-body">
	    <div id="form">
	      <%= render 'form' %>
	  	</div>
	  	<div id="company_event_list">
	    	<%= render 'company_event_list' %>
			</div>
   	</div>
</div>
