<table id="example" class="table table-bordered table-hover table-condensed">
     <thead>
     <tr>
      <th>Job Title</th>
      <th>Candidate Name</th>
      <th>Interview Date</th>
      <th>Location</th>
      </tr>
      </thead>
      <tbody>
  <tr>
        <td><%= @interview_schedule.job_title %></td>
        <td><%= @interview_schedule.candidate_name %></td>
        <td><%= @interview_schedule.interview_date %></td>
        <td><%= @interview_schedule.location %></td>
  </tr>
  </tbody>
</table>