<div class="box">
  <div class="box-header">
    <h3 class="box-title">Interview Reschedule History</h3>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Candidate Name</th>
        <th>Interview Date</th>
      </tr>
    </thead>
  <tbody>
  <% i = 0 %>
    <% @interview_reschedules.each do |interview_reschedule| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= interview_reschedule.interview_schedule.candidate_name %></td>
        <td><%= interview_reschedule.interview_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
 </div>
</div>
