<table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
   </tr>

   <tr>
    <th><strong>Employee:</strong></th>
   	<td><%= @skillset.employee %></td>

   	<th></th>
   	<td></td>
   </tr>
   
    <tr>
    <th> <strong>Name:</strong></th>
   	<td> <%= @skillset.name %></td>

   	<th><strong>Skill level:</strong></th>
   	<td> <%= @skillset.skill_level %></td>
   </tr>
    </table>