<div class="box box-default">
<div class="box-header with-border">
<h3 class="box-title">Compliance Update</h3>

<div class="box-body">
<div id="form"><%= render 'form' %></div>
<div id="transaction_record_list"><%= render 'transaction_record_list' %></div>
</div><!-- /.box-body -->
</div><!-- /.box -->
