<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Wish You A Very Happy Work Anniversary!</h4>
    <p>
      <%= @greeting.message %><br>
      With Warm Regards : <%= @greeting.sender.try(:first_name) %> <%= @greeting.sender.try(:last_name) %>
    </p>
  </body>
</html>