<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">
      Goal Setting - <%= @employee.manual_employee_code+" "+full_name(@employee) %>
    </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="form">
      <%= render 'form' %>
  	</div>
  	
    <div id="employee_goal_list">
      <%= render 'employee_goal_list' %>
    </div>
 	</div>
</div>