<div class="box">
  <div class="box-header">
    <h3 class="box-title">All Employee List</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  	 <div class="row">
      <div class="col-sm-3">
        <div class="field">
          <%= select :salary, :employee_designation_id, all_employee_designation,{include_blank: 'select Designation'},{onchange:"var a={employee_designation_id:$(this).val(),year:$('#salary_year').val(),month:$('#salary_month_name').val()}; $.get('/employee_goals/show_emp',a,function(response){});",class: 'form-control'}%>
        </div>
      </div>
    </div><br>
     <div id="employee_list_pdf"></div>
  </div>
</div>

