<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Goal Setting For All Employee</h3>
  </div><!-- /.box-header -->
    <div class="box-body">
	    <div id="all_emp_goal">
	      <%= render 'all_emp_goal' %>
	  	</div>
	  	
      <div id="all_emp_goal_list">
        <%= render 'all_emp_goal_list' %>
      </div>
   	</div>
</div>
