<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Employee Shift</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
  <%= bootstrap_form_for(@employee_shift) do |f| %>
     <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.select :company_shift_id, all_company_shifts,{include_blank: " Select Company Shift"} %>
          </div>
        </div>
        </div>
      <div class="row">
      <div class="col-sm-12">
      <div class="form-group required">
        <div id="employee_list"> 
          <%= render 'employee_list_for_assign_shift' %>
        </div>
      </div>
      </div>
    </div>
  <div class="row">
        <div class="col-sm-5">
          <div class="actions">
            <%= f.submit "Create Account",class: "btn btn-primary",data: { disable_with: 'Wait....'} %>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->



 