<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company Shift Details</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
    	<th><strong>Company shift:</strong></th>
    	<td><%= @employee_shift.company_shift.try(:name) %></td>
      </tr>
      <% @employee_shifts.each do |employee_shift| %>
      <tr>

    	<th> <strong>Employee:</strong></th>
    	<td> <%= @employee_shift.employee.try(:manual_employee_code) %></td>
    </tr>
    <% end %>
    </table>
    <%= link_to 'Edit', edit_employee_shift_path(@employee_shift),class: 'btn btn-success fa fa-edit' %> |
    <%= link_to 'Back', employee_shifts_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->