<div class="box box-default">
<div class="box-header with-border">
<h3 class="box-title">Task</h3>
</div>
<div class="box-body">
<div id="form"><%= render 'form' %></div>
<div id="task_list"><%= render 'task_list' %></div>
</div><!-- /.box-body -->
</div><!-- /.box -->
