<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee_grade.name %>
</p>

<%= link_to 'Edit', edit_employee_grade_path(@employee_grade) %> |
<%= link_to 'Back', employee_grades_path %>
