<%= bootstrap_form_for(@travel_option,html: {id: 'travel_option'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Code' %>
      </div>
    </div>

     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Travel Type' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Travel Option" ,class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#travel_option").validate({
    rules: {
      "travel_option[code]":{
        required: true,
      },
      "travel_option[name]":{
        required: true,
      }
       },
    messages: {
      "travel_option[code]":{
        required: "Please Specify Code",
      },
       "travel_option[name]":{
        required: "Please Specify Travel Travel Type",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>

