<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Travel Options</h3>
    <div class="pull-right">
    <%= link_to " PDF ", travel_option_master_travel_options_path(id: @travel_option.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
    <%= link_to " XLS ", travel_option_master_travel_options_path(id: @travel_option.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="travel_list">
			<%= render 'travel_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->