<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Employer Family Pension </h3>
  </div><!-- /.box-header -->
 <div class="box-body">
 <div id="form">
 	<%= render 'form' %>
 </div>
 <div id="employer_family_pension_li">
	<%= render 'employer_family_pension_list' %> 	
 </div>
</div>
</div>
