<!-- Main content -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Topics </center></h4>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-hover table-condensed">
        <tbody>
          <tr>
            <th>Employee</th>
            <td><%= full_name(@topics.employee) %></td>
          </tr>
          <tr>
            <th>Topic Title</th>
            <td><%= @topics.post_topic %></td>
          </tr>
          <tr>
            <th>Description </th>
            <td><%= @topics.description %></td>
          </tr>
          <tr>
            <th>Status</th>
            <td><%= @topics.status ? "Active" : "Inactive" %></td>
          </tr>
        </tbody>
      </table> <br>
    </div><!-- /.modal-content -->
  </div>
</div><!-- /.modal-dialog -->
