<div class="box box-default">
  <div class="box-header with-border">
    <tr><th colspan="4"><center><font color='#0077b3'><h3>Topic Discussion Desk </h3></font></center> </th></tr>
    <div class="box-body">
        <div id="form">
            <%= render 'discussion' %> 
        </div>
        <br>
    </div>
  </div>
</div>