<%= bootstrap_form_for(@reporting_master,remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
         <%= f.select :employee_id, employee_list_by_company_location, {label: 'Employee ',include_blank: " Select Reporting Managar"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"}  %>
      </div>
    </div>
    <div class="col-sm-3">
    <label></label>
      <div class="actions">
        <%= f.submit :class => class_name %>
      </div>
    </div>
  </div>
<% end %>