<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Payment Mode</h3>
     <div class="pull-right">
    <%= link_to " PDF ", payment_mode_master_payment_modes_path(id: @payment_mode.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
    <%= link_to " XLS ", payment_mode_master_payment_modes_path(id: @payment_mode.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="payment_mode_li">
			<%= render 'payment_mode_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
