<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Designation</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="employee_designation_li">
			<%= render 'employee_designation_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->