<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee_designation.name %>
</p>

<%= link_to 'Edit', edit_employee_designation_path(@employee_designation) %> |
<%= link_to 'Back', employee_designations_path %>
