<table id="example1" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
     <th>Policy Type</th>
   
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @company_policies.each do |company_policy| %>
      <tr>
        <td><%= company_policy.policy_type.try(:name)%></td>
        <td>
        <%= link_to '', policy_type_detail_company_policies_path(company_policy_id: company_policy.id) ,class: 'btn btn-xs btn-primary fa fa-info-circle' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
