<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Dearness Allowance </h3>
  </div><!-- /.box-header -->
 <div class="box-body">
 <div id="form">
 	<%= render 'form' %>
 </div>
 <div id="dearness_allowance_li">
	<%= render 'dearness_allowance_list' %> 	
 </div>
</div>
</div>
