<div class="login-box">
  <div class="login-logo">
    <a><b>Registration</b></a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">You have no authority.</p>
    <%- if controller_name != 'sessions' %>
      <%= link_to "Back to Log in", new_session_path(resource_name), class: "btn btn-primary btn-xs" %><br/>
    <% end -%>
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->