<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Monthly Salary</h3>
  </div>
	<div class="box-body">
	  <div class="row">
      <div class="col-sm-3">
        <div class="field">
          <%= select :salary,:month_name, ['January','February','March','April','May','June','July','August','September','October','November','December'],{label: 'Select Month',include_blank: " Select Month"}, class: "form-control" %>
         </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
         <%= select :salary,:year,['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024','2025','2026','2027'],{label: 'Select Year',include_blank: " Select Year"}, class: "form-control" %>
         </div>
      </div>
	    <div class="col-sm-3">
	      <div class="field">
	        <%= text_field :employee_code,:hhh,{oninput:"var a={employee_code:$(this).val(),month:$('#salary_month_name').val(),year: $('#salary_year').val()}; $.get('/employee_salary_templates/find_employee_for_salary',a,function(response){});",class: 'form-control',placeholder:'Search by Employee id'} %>
	      </div>
	    </div>
	  </div><br>
    <ol></ol>
	  <div id="salary">
	  </div>
	</div><!-- /.box-body -->
</div><!-- /.box -->
