<div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Create Goal Measure</h3>
    </div><!-- /.box-header -->
  <div class="box-body">
	  <div id="form">
	    <%= render 'form' %>
	  </div>

	  <div id="goal_measure_list">
	    <%= render 'goal_measure_list' %>
		</div>
  </div>
</div>
