<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">

      <%= bootstrap_form_for @goal_bunch,url:{action: "update_final_modal",goal_bunch_id:@goal_bunch.id,period_id: @period.id} do |f| %>
        <div class="row">
          <div class="col-sm-12">
          <label>Final Comment</label>
            <%= f.text_area :final_comment,hide_label:true, placeholder: "comment" %>    
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
          <label>Final Rating</label>
            <%= f.select :final_rating_id,all_rating_type,{hide_label:true,include_blank: 'select rating'} %>    
          </div>

          <div class="col-sm-6" style="padding-top:20px;">
            <%= f.submit "Update", class: 'btn btn-success btn-sm' %>
          </div>
        </div>
      <% end %>
    
   </div>
    <div class="modal-footer"></div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->