<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">

      <%= bootstrap_form_for(:goal_bunch,url:{action:'self_overall_comment_create',employee_id: current_user.employee_id,goal_bunch_id: @goal_bunch.id,appraisee_overall: @appraisee_overall},html: {id: 'goal_bunch'}) do |f| %>
        <div class="row">
          <div class="col-sm-9">
          <label>Overall Comment</label>
              <%= f.text_area :appraisee_comment,hide_label:true,placeholder: 'Overall Comment' %>
            </div>
          <div class="col-sm-3" style="padding-top: 20px">
          <label></label>
            <div class="actions">
              <%= f.submit "Create" , class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        </div>
      <% end %>

      </div>
    <div class="modal-footer"></div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
  $("#goal_bunch").validate({
    rules: {
      "goal_bunch[appraisee_comment]":{
        required: true
      }
    },
    messages: {
      "goal_bunch[appraisee_comment]":{
        required: "Please specify Appraisee Comment"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>