<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Goal Setting</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%#= render 'form' %>	
		</div>
		
		<div id="goal_bunch_list">
			<%= render 'goal_bunch_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->