<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Goal Setting</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="form_period">
      <%= render 'form_period' %>  
    </div>
    
    <div id="bunch_for_multiple">
      <%= render 'bunch_for_multiple' %>
    </div>
    
  </div><!-- /.box-body -->
</div><!-- /.box -->
