<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title">Performance Period</h3>
	</div>
<div class="box-body">
	<div id="form"><%= render 'form' %></div>
		<div id="periods_list"><%= render 'periods_list' %></div>
	</div>
</div>
