<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Interview Schedule</h4>
    <p>
       Dear <%= @interview_schedule.candidate_name %>,<br><br>
      This is to inform you that your interview for the position <b><%= @interview_schedule.job_title %></b> has been sheduled.Details for interview timing is given below.<br><br>
       <b>Date :-</b> <%= @interview_schedule.interview_date %><br><br>
       <b>Address :-</b> <%= @interview_schedule.location %><br><br>
       <div class="row">
        <div class="col-sm-5">
          With Regards,<br><br>
          HR 
        </div>
      </div>
     </p>
  </body>
</html>