<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">DA</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="form">
      <%= render 'form' %>  
    </div>
    
    <div id="food_option_list">
      <%= render 'food_option_list' %>
    </div>
    
  </div><!-- /.box-body -->
</div><!-- /.box -->
