<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @banks.each do |bank| %>
      <tr>
        <td><%= bank.name%></td>
        <td>
          <%= link_to '', edit_bank_path(bank),class: 'btn btn-success btn-sm fa fa-edit',remote:true %>
          <%= link_to '',  bank, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-sm fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
