<%= bootstrap_form_for(@bank,html: {id: 'bank'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Bank Name' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Bank Name",:class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
 $("#bank").validate({
    rules: {
      "bank[name]":{
        required: true
      }
    },
    messages: {
      "bank[name]":{
        required: "Please specify bank name"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>