<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Bank</h3>
    <div class="pull-right">
    <%= link_to " PDF ", bank_master_banks_path(id: @bank.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
    <%= link_to " XLS ", bank_master_banks_path(id: @bank.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="bank_li">
			<%= render 'bank_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->

