<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Exit Interview</h3>
  

  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="exit_interview_li">
			<%= render 'exit_interview_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

