<div class="box box-default">
  <div class="box-header with-border">
    <h5 class="box-title" style="color: blue" >Exit Interview of : 
     <%= @employee_resignation.employee.try(:manual_employee_code) %> - <%= full_name(@employee_resignation.employee)%>
    </h5>

  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="exit_interview_list">
			<%= render 'exit_interview_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

