<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Exit Interview of
      ID : <%= @employee_resignation.employee.try(:manual_employee_code) %> 
      Name :  <%= full_name(@employee_resignation.employee)%> 


    </h3>

  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="exit_interview_list">
			<%= render 'exit_interview_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

