<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Other Salary Component</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="other_salary_component_li">
			<%= render 'other_salary_component_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->