<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Overtime Month Record</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="overtime_month_record_li">
			<%= render 'overtime_month_record_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
