<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Policy Type</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr>
      <th><strong>Description</strong></th>
      <td><%= @policy_type.description  %></td>
    </tr>

    <tr>
      <th><strong>Status</strong></th>
      <td colspan="3"><%= @policy_type.is_active ? "Active" : "Inactive" %></td>
    </tr>

     </table> <br>
    <%= link_to 'Back', new_policy_type_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->