<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Reimbursement Slab</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="reimbursement_slab_list">
			<%= render 'reimbursement_slab_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->
