<table id="example1" class="table table-bordered table-hover table-condensed'">
  <thead>
    <tr>  
      <th>Sr. No</th>
      <th>Country</th>
      <th>Code</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @states.each do |state| %>
      <tr>
        <td><%= i = i + 1 %></td>
        <td><%= state.country.try(:name) %></td>
        <td><%= state.code %></td>
        <td><%= state.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
