<label class="control-label required" for="company_district" aria-required="true">Member</label>
	<%= select :issue_requests,:issue_tracker_member_id,(@issue_tracker_members.present? ? (@issue_tracker_members.collect {|b| [b.employee.try(:first_name) +' '+b.employee.try(:middle_name)+' '+b.employee.try(:last_name),b.id]}) : {}),{include_blank: "Select Member"},{onchange:"var a={group_id:$(this).val(), date: #{@date}, issue_member_id: #{@group_id}}; $.get('/issue_requests/memberwise_report_list',a,function(response){});",prompt:"Select Member",hide_label:true,class: 'form-control'} %>
