
<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee CTC Report</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:salary, url: { action: 'show_employee_ctc'}) do |f| %>
     <div class="row">
        <div class="col-sm-3">
            <div class="form-group required">
              <%= select :salary, :department_id, all_department_list,{label: 'Department',include_blank: " Select Department"} %>
            </div>
          </div>
        
        
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-sm btn-warning" %>
          </div>
        </div>
        </div>
      <br>
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->




<div id="employee_list"></div>

