<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Wise Salary Report</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  	<div class="row">
      <div class="col-sm-2">
        <div class="field">
          <%= select :salary,:month_name, ['January','February','March','April','May','June','July','August','September','October','November','December'],{label: 'Select Month',include_blank: " Select Month"}, class: "form-control" %>
         </div>
      </div>
      <div class="col-sm-2">
        <div class="field">
          <%= select :salary,:year,['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024','2025','2026','2027'],{label: 'Select Year',include_blank: " Select Year"},{class: 'form-control'} %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
          <%= select :salary,:category,all_employee_category,{include_blank: "Employee Category"},{class: 'form-control'} %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
           <%= select :salary, :bank_name, all_bank_name,{include_blank: 'Select Bank Name'},{onchange:"var a={bank_id:$(this).val(),year:$('#salary_year').val(),month:$('#salary_month_name').val(),category:$('#salary_category').val()};$('.ajax-progress').show(); $.get('/salary_slip_ledgers/show_employee_list',a,function(response){});",class: 'form-control'} %>
        </div>
      </div>
    </div><br>
    <div id="employee_bank_wise"></div>
  </div>
</div>
