<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Salary Master Data</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div class="row">
			<div class="col-sm-6">
				<div id="addected_list">
					<%= render 'addected_salary_component_list' %>
				</div>
			</div>
			<div class="col-sm-6">
				<div id="deducted_list">
					<%= render 'deducted_salary_component_list' %>
				</div>
			</div>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

