<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Salary Component</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div id="salary_component_li">
					<%= render 'salary_component_list' %>
				</div>
			</div>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

