<div class="box-header with-border">
    <h3 class="box-title">Employee Details</h3>
  </div>
 <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">  
  <thead>
    <!-- <tr>
      <th colspan="4"><center>Employee Detail</center></th>
    </tr> -->
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Employee ID</th>
      <th>Name</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |e|  %>
    <tr>
      <td><%= check_box_tag "employee_ids[]", e.id %></td>
      <td><%= e.manual_employee_code %></td> 
      <td><%= full_name(e) %></td>
      <td><%= e.department.try(:name) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>
