<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Blood Group</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="blood_group_list">
			<%= render 'blood_group_type_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->