<!-- Info boxes -->
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-th-large"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Companies</span>
        <span class="info-box-number"><%=@companies.try(:count)%></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="glyphicon glyphicon-th-list"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Locations</span>
        <span class="info-box-number"><%= @company_locations.try(:count)%></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="glyphicon glyphicon-th"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Departments</span>
        <span class="info-box-number"><%= @departments.try(:count) %></span>
      </div><!-- /.info-box-content --> 
    </div><!-- /.info-box -->
  </div><!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Employees</span>
        <span class="info-box-number"><%= @employees.try(:count) %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-8">
            <p class="text-center">
              <strong></strong>
            </p>
            <div class="chart">
              <!-- Sales Chart Canvas -->
              <canvas id="salesChart" style="height: 180px;"></canvas>
            </div><!-- /.chart-responsive -->
          </div><!-- /.col -->
          <div class="col-md-4">
    <!-- Info Boxes Style 2 -->
    

            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">Group Usage</h3>
                <div class="box-tools pull-right">
                  <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div><!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="chart-responsive">
                      <canvas id="pieChart" height="150"></canvas>
                    </div><!-- ./chart-responsive -->
                  </div><!-- /.col -->
                  <div class="col-md-4">
                    
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.box-body -->
              <div class="box-footer no-padding">
                
              </div><!-- /.footer -->
            </div><!-- /.box -->

    
  </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- ./box-body -->
      
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->

<!-- Main row -->
<div class="row">
  <!-- Left col -->
  <div class="col-md-8">
    <!-- MAP & BOX PANE -->
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Visitors Report</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-9 col-sm-8">
            <div class="pad">
              <!-- Map will be created here -->
              <div id="world-map-markers" style="height: 325px;"></div>
            </div>
          </div><!-- /.col -->
          <div class="col-md-3 col-sm-4">
            <div class="pad box-pane-right bg-green" style="min-height: 280px">
              <div class="description-block margin-bottom">
                <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div>
                <h5 class="description-header">8390</h5>
                <span class="description-text">Visits</span>
              </div><!-- /.description-block -->
              <div class="description-block margin-bottom">
                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                <h5 class="description-header">30%</h5>
                <span class="description-text">Referrals</span>
              </div><!-- /.description-block -->
              <div class="description-block">
                <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div>
                <h5 class="description-header">70%</h5>
                <span class="description-text">Organic</span>
              </div><!-- /.description-block -->
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    

    
  </div><!-- /.col -->

  
</div><!-- /.row -->
        

