<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Integration With SAP Input</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="salary_map_sap_li">
			<%= render 'salary_map_sap_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
