<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Payroll Period</h3>
  </div>
<div class="box-body">
  <div id="form"><%= render 'form' %></div>
    <div id="payroll_period_list"><%= render 'payroll_period_list' %></div>
  </div>
</div>
