<%= bootstrap_form_for :date_format,url:{action:"activee"} do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :name, all_date_format, {hide_label: true,include_blank: " Select Date Format"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Date Format", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>


