  <div class="box-header">
    
<div class="box-body">
<table  class="table table-bordered table-hover table-condensed'">
      <thead>
        <tr>
          <th>No Due Owner</th>
          <th>Item Name</th>
          <th>Remark</th>
          <th>Amount</th>
       </tr>
      </thead>

      <tbody>
        <% @due_actions.each do |due_action| %>
          <tr>
            <td><%= full_name(due_action.due_employee_detail.reporting_master.employee) %></td>
            <td><%= due_action.name %></td>
            <td><%= due_action.remark %></td>
            <td><%= due_action.amount %></td>
          </tr>
        <% end %>
      </tbody>
</table>
</div>
</div>


