<div class="modal-dialog" style="height:1000px; max-height:100px; width:1000px; max-width:1400px;">
  <div class="modal-content">
<div class="modal-body" >
<%= bootstrap_form_for(@due_detail) do |f| %>
<!-- <= f.hidden_field :due_template_id, value: @due_template.id  %> -->
<div>
</div>
  <div class="row">
     <div class="col-sm-3">
          <div class="form-group required">
          <%= f.select :reporting_master_id,all_reporting_master_list,{label: 'No Dues Owner',include_blank: " Select No Dues Owner"} %>
            </div>
        </div>

    <div class="col-sm-3">
     <label>Status</label>
      <div class="form-group required">
        <%= f.check_box :status,label: 'Active' %>
      </div>
    </div>

    <div class="col-sm-3">
    <label></label>
      <div class="actions">
        <%= f.submit "Add Owner ",:class => class_name,  data: { disable_with: data_info } %>
      </div>
    </div>

  </div>
<% end %>

<script>
$("#due_detail").validate({
    rules: {
      "due_detail[reporting_master_id]":{
        required: true,
      }
    },
    messages: {
      "due_detail[reporting_master_id]":{
        required: "Please specify Reporting Manager",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>




