<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <%= bootstrap_form_for @salaryslip_component,remote:true do |f| %>
        <div class="row">
          <div class="col-sm-4">
            <%= f.text_field :calculated_amount,hide_label:true, placeholder: "Calculated Amount" %>    
          </div>
          <div class="col-sm-2">
            <%= f.submit "Update", class: 'btn btn-success btn-sm' %>
          </div>
        </div>
      <% end %>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
  </div>
</div>