<div class="box box-default">
<div class="box-header with-border">
<h3 class="box-title">Regularization Reasons</h3>

<div class="box-body">
<div id="form"><%= render 'form' %></div>
<div id="reason_list"><%= render 'reason_list' %></div>
</div><!-- /.box-body -->
</div><!-- /.box -->

