<h1>New Regularization Reason</h1>

<%= render 'form' %>

<%= link_to 'Back', regularization_reasons_path %>


<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Regularization Reason</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="reason_list">
			<%= render 'reason_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->
