<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Record</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
        </tr>
      </thead>

      <tbody>
        <% @employee_templates.each do |employee_template| %>
          <tr>
            <td><%= employee_template.try(:employee).try(:manual_employee_code) %></td>
            <td><%= employee_template.employee.try(:first_name) %> <%= employee_template.employee.try(:middle_name) %> <%= employee_template.employee.try(:last_name) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!--  <= link_to " Excel Report ",employee_attendance_excel_report_employee_attendances_path(month: params[:employee_attendance][:month], year: params[:employee_attendance][:year], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>

      <= link_to " Print Attendance Slip ",employee_attendance_pdf_report_employee_attendances_path(month: params[:employee_attendance][:month], year: params[:employee_attendance][:year], format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %> -->
  </div>
</div>