<div class="box">
  <div class="box-header">
   
    <div class="pull-right">
      
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="template_list">
      <%= render 'template_list' %>  
    </div>
  </div>
</div>