<%= bootstrap_form_for(@definition,remote: true) do |f| %>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, hide_label: true,placeholder: "Definition"%>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Definition", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
