<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Definition</h3>
  </div><!-- /.box-header -->
    <div class="box-body">
	    <div id="form">
	    	<%= render 'form' %>
	  	</div>
	  	<div id="definition_list">
	    	<%= render 'definition_list' %>
			</div> 
   	</div>
</div>
