<table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
    	<th><strong>Employee:</strong></th>
    	<td><%= @award.employee %></td>

    	<th><strong>Award name:</strong></th>
    	<td><%= @award.award_name %></td>
    </tr>

     <tr>
    	<th> <strong>Year:</strong></th>
    	<td><%= @award.year %></td>

    	<th> <strong>Award from:</strong></th>
    	<td> <%= @award.award_from %></td>
    </tr>

    </table>
