<div class="box">
  <div class="box-header">
    <h3 class="box-title">Interview Schedule</h3>
    <div class="pull-right">
    </div>
  </div>

  <div class="box-body">

<table id="example" class="table table-bordered table-hover table-condensed'">
  <thead>
    <tr>
      <th>Candidate Name</th>
      <th>Interviewer Name</th>
      <th>Interview Type</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @candidate_interview_schedules.each do |candidate_interview_schedule| %>
      <tr>
        <td><%= candidate_interview_schedule.candidate_form.try(:name) %></td>
        <td> <% emp = Employee.find_by(id: candidate_interview_schedule.interviewer_id) %> <%= full_name(emp) %> </td>
        <td><%= candidate_interview_schedule.interview_type_master.try(:name) %></td>
        <td>
        <%= link_to '', modal_candidate_interview_schedules_path(candidate_interview_schedule), class: 'btn btn-xs btn-default fa fa-eye',remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div id="myModal" class="modal fade"></div>