<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  Attendance Update
  <div class="box-body">
    <div class="row">
      <div class="col-sm-3">
      <label>Select Month and Year</label>
        <div class="field">
          <%= text_field :workingday,:date,{onchange:"var a={date:$(this).val()}; $.get('/workingdays/generate_workingday',a,function(response){});",class: 'form-control workingday_date',placeholder:'Select Month and Year'} %>
        </div>
      </div>
    </div><br>
    <ol></ol>
    <div id="all_employee_workingday">
    </div>
    
  </div><!-- /.box-body -->
</div><!-- /.box -->
