<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">About Company</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="about_company_li">
			<%= render 'about_company_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

