<label class="control-label required" for="company_district" aria-required="true">District</label>
<select  class="form-control valid" name="company[district]" id="company_district" aria-required="true" aria-invalid="false">
<option value="">Please Select District</option>
<% @cities.each do |c| %>
<option value="<%= c %>"><%= c %></option>
<%end%>
</select>