<label class="control-label required" for="company_district" aria-required="true">District</label>
<%= select :company,:district_id,(@cities.present? ? (@cities.collect {|b| [b.name,b.id]}) : {}),{prompt:"Select State",hide_label:true},class: "form-control"%>
