<label class="control-label required" for="company_state" aria-required="true">State</label>
<select onchange="var a={id:$(this).val()}; $.get('/companies/collect_cities',a,function(response){});" class="form-control valid" name="company[state]" id="company_state" aria-required="true" aria-invalid="false">
<option value="">Please Select State</option>
<% @states.each do |k,v| %>
<option value="<%= k %>"><%= v %></option>
<%end%>
</select>