<div class="box box-default">
<div class="box-header with-border">
<h3 class="box-title">Import File</h3>
</div><!-- /.box-header -->
<div class="box-body">
<%= form_tag import_certifications_path, multipart: true do %>
<label> File </label>
  <%= file_field_tag :file,label: 'File(.xls,.csv,.xlsx only)' %>
  <br>
  <%= submit_tag "Import" %>
<% end %>
