<div class="box">
  <div class="box-header">
    <h3 class="box-title">Bonus Employee DateWise Report</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  	 <div class="row">
      <!-- <div class="col-sm-3">
        <div class="field">
          <= select :salary,:month_name, ['January','February','March','April','May','June','July','August','September','October','November','December'],{label: 'Select Month',include_blank: " Select Month"}, class: "form-control" %>
         </div>
      </div> -->
      <div class="col-sm-3">
          <div class="form-group required">
          <label>From Date </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
               <%= text_field :bonus_employee,:from_date, class: 'birth_date'%>
            </div>
          </div>
        </div>      

        <div class="col-sm-3">
          <div class="form-group required">
          <label>To Date </label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
               <%= text_field :bonus_employee,:to_date, class: 'birth_date',{onchange:"var a={department_id:$(this).val(),from_date:$('#bonus_employee_from_date').val()};$('.ajax-progress').show(); $.get('/bonus_employees/display_datewise_report',a,function(response){});",class: 'form-control'}%>
            </div>
          </div>
        </div>      
      <!-- <div class="col-sm-3">
        <div class="field">
          <= select :salary,:year,['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024','2025','2026','2027'],{label: 'Select Year',include_blank: " Select Year"},{class: 'form-control'} %>
        </div>
      </div> -->
      <!-- <div class="col-sm-3">
        <div class="field">
          <= select :salary, :company_location_id, all_department_type_list1,{include_blank: 'select Location'},{onchange:"var a={department_id:$(this).val(),year:$('#salary_year').val(),month:$('#salary_month_name').val()};$('.ajax-progress').show(); $.get('/pdf_salaries/show_employee',a,function(response){});",class: 'form-control'}%>
        </div>
      </div>   -->
      </div><br>
    <div id="bonus_employee_li"></div>
</div>
</div>

