<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee Name</th>
      <th>Bonus date</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @particular_bonuses.each do |bonus_employee| %>
      <tr>
        <td><%= bonus_employee.employee.manual_employee_code %></td>
        <td><%= full_name(bonus_employee.employee) %></td>
        <td><%= bonus_employee.bonus_date %></td>
        <td><%= bonus_employee.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>