<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="field">
          <%= text_field :bonus,:start_date,{class: 'form-control bonus_start_date',placeholder:'Start Date'} %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <%= text_field :bonus,:end_date,{onchange:"var a={end_date:$(this).val(),start_date : $('#bonus_start_date').val()};$('.ajax-progress').show(); $.get('/bonus_employees/collect_bonus',a,function(response){});",class: 'form-control bonus_end_date',placeholder:'End Date'} %>
        </div>
      </div>
    </div><br>

    <div class="row">
      <div class="col-sm-6">
        <div id="all_employee_bonus"></div>    
      </div>
      <div class="col-sm-6">
        <div id="particular_employee_bonus"></div>    
      </div>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->
