<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> DA Master</h3>
  </div><!-- /.box-header -->
 <div class="box-body">
 <div id="form">
 	<%= render 'form' %>
 </div>
 <div id="da_master_list">
	<%= render 'da_master_list' %> 	
 </div>
</div>
</div>
