<%= bootstrap_form_for(@attribute_master,remote: true) do |f| %>

  <div class="row">
    <div class="col-sm-9">
      <div class="form-group required">
        <%= f.text_field :name,hide_label: true,placeholder:"Attribute & Definition" %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Attribute & Definition", class: "btn btn-primary btn-sm"%>
      </div>
    </div>
  </div>
  
<% end %>
