<%= bootstrap_form_for(@attribute_master,remote: true,html: {id: "attribute_master"}) do |f| %>

  <div class="row">
    <div class="col-sm-9">
      <div class="form-group required">
        <%= f.text_field :name,hide_label: true,placeholder:"Attribute & Definition" %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Attribute & Definition", class: "btn btn-primary btn-sm"%>
      </div>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">


 $("#attribute_master").validate({
    rules: {
      "attribute_master[name]":{
        required: true
      }
    },
    messages: {
      "attribute_master[name]":{
        required: "Please Specify Name"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>