<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Attribute Definition</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		<div id="attribute_master_list">
			<%= render 'attribute_master_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

