<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Attribute Setting</h3>

  <h6><%= @employee.manual_employee_code+" "+@employee.first_name+" "+@employee.last_name %></h6>
   </div>
    <div class="box-body">
	    <div id="form">
	      <%= render 'form' %>
	  	</div>
	  	<div id="employee_attribute_list">
	    	<%= render 'employee_attribute_list' %>
			</div>
   	</div>
</div>

