<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%= @salary_template.code %> - <%= @salary_template.try(:description) %>
	  </h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-sm-3">
				<%=select :parent,:salary_component_id, all_salary_component,{include_blank: "Please Select Component"},{onchange:"var a={id:$(this).val(),s: '#{@salary_template.id}'}; $.get('/salary_component_templates/new',a,function(response){});",class: 'form-control'}%>
			</div>
			<div class="col-sm-8">
				
			</div>
		</div><br>
		<div id="form"></div><br>
		<div id="show_info"><%= render 'show_detail' %></div>
	</div><!-- /.box-body -->
</div><!-- /.box -->