<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> PF Employer </h3>
  </div><!-- /.box-header -->
 <div class="box-body">
 <div id="form">
 	<%= render 'form' %>
 </div>
 <div id="pf_employer_li">
	<%= render 'pf_employer_list' %> 	
 </div>
</div>
</div>
