<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Resignation Request Cancelled</h4>
    <p>
      Dear, <%= @employee.prefix %><%= @employee.first_name.to_s %> <%= @employee.last_name.to_s %> <%= @employee.middle_name.to_s %><br><br>
      This is to inform you that your Resignation Request has been Cancelled.
      With Regards,<br><br>
      HR 
     </p>
  </body>
</html>