<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company_type.name %>
</p>

<%= link_to 'Edit', edit_company_type_path(@company_type) %> |
<%= link_to 'Back', company_types_path %>
