<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Support Root Cause</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="issue_root_cause_list">
			<%= render 'issue_root_cause_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

