<label class="control-label required" for="company_state" aria-required="true">Mode Option</label>
<%= select :expenses_master,:billing_option_id,(@billing_option.present? ? (@billing_option.collect {|b| [b.name,b.id]}) : {}),{hide_label:true, include_blank: "Select Option"},class: "form-control" %>
