<%= bootstrap_form_for(@goal_perspective, remote: true,html: {id: "goal_perspective"}) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Goal Perspective' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Goal Perspective",class: 'btn btn-primary btn-sm'%>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">

 $("#goal_perspective").validate({
    rules: {
      "goal_perspective[name]":{
        required: true
      }
    },
    messages: {
      "goal_perspective[name]":{
        required: "Please specify name"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
