<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Goal Perspective</h3>
    <div class="pull-right">
    <%= link_to " PDF ", goal_perspective_master_goal_perspectives_path(id: @goal_perspective.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
    <%= link_to " XLS ", goal_perspective_master_goal_perspectives_path(id: @goal_perspective.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="goal_perspective_list">
			<%= render 'goal_perspective_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

