<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal_perspective.name %>
</p>

<%= link_to 'Edit', edit_goal_perspective_path(@goal_perspective) %> |
<%= link_to 'Back', goal_perspectives_path %>
