<table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
    	<th><strong>Employee:</strong></th>
    	<td>  <%= @employee_physical.employee %></td>

    	<th> <strong>Hieght:</strong></th>
    	<td> <%= @employee_physical.height %></td>
    </tr>
     <tr>
    	<th><strong>Weight:</strong></th>
    	<td><%= @employee_physical.weight %></td>

    	<th> <strong>Size:</strong></th>
    	<td> <%= @employee_physical.size %></td>
    </tr>
  
    </table>