<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Income Tax Master Detail</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="income_tax_master_list">
			<%= render 'income_tax_master_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
