<%= bootstrap_form_for(@induction_master,html: {id: 'induction_master'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Templat Code' %>
      </div>
    </div> 
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description,hide_label:true, placeholder: 'Desctiption' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Induction Template",:class => class_name,  data: { disable_with: data_info } %>
      </div>
    </div>

  </div>
<% end %>
