<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Leave Balance Report</h3>
  </div><!-- /.box-header -->
 <div class="box-body">
 <%= bootstrap_form_for(:employee, url: { action: 'report'},html: {id: 'employee'},remote:true) do |f| %>
    <div class="row">
     	<div class="col-sm-3" style="padding-top:20px;">
       	<div class="actions">
          <%= f.submit "Display Report", class: "btn btn-sm btn-primary",id: "buttonCtc"  %>
        </div>
      </div>
    </div><br>
      <div id="balance_report"></div>
    <br>
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->