<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Profile</h3>
  </div><!-- /.box-header -->
    <div class="box-body">
	    <div id="internal_form">
	      <%= render 'internal_form' %>
	  	</div><br>
	  	<!-- <div id="show_internal_resume">
	    	<= render 'show_internal_resume' %>
			</div> -->
		</div>
	</div>
 </div>

