<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Candidate Profile</h3>
  </div><!-- /.box-header -->
    <div class="box-body">
	    <div id="form">
	      <%= render 'form' %>
	  	</div>
	  	<div id="selected_resumes_list">
	    	<%= render 'selected_resumes_list' %>
			</div>
		</div>
	</div>
 </div>

