<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">New Gps Information</h3>
    <div class="pull-right"></div>
	<div class="box-body">
		<div id="form">
		   <%= render 'form' %>
		   <%= link_to 'Back', gps_informations_path %>	
		</div>
	</div>
  </div>
</div>
 