<%= bootstrap_form_for(@employee_type,html: {id: 'employee_type'},remote:true) do |f| %>
  <div class="row">


   <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Employment Type Code' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Employment Type' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Employee Type",:class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>


<script>
$("#employee_type").validate({
    rules: {
      "employee_type[code]":{
        required: true,
      },
      "employee_type[name]":{
        required: true,
      }
       },
    messages: {
      "employee_type[code]":{
        required: "Please Specify Employment Type Code",
      },
       "employee_type[name]":{
        required: "Please Specify Employment Type",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>

