<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employment Type</h3>
      <div class="pull-right">
    <%= link_to " PDF ", employee_type_master_employee_types_path(id: @employee_type.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
    <%= link_to " XLS ", employee_type_master_employee_types_path(id: @employee_type.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="employee_list">
			<%= render 'employee_type_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
