<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Certificates</h3>
  </div>
  <%= bootstrap_form_for :salary, url: { action: 'certificate_print'},html: {id: 'salary'},remote:true do |f| %>
  <div class="box-body">

      <div class="row">
       <div class="col-sm-3">
      <div class="form-group required">
        <%= select :salary,:employee_id, all_employee_list, {label: "Employee",include_blank: "Select Employee"},{:class=>"select2",:style=>"width: 100%;",:tabindex=>"-1"} %>
      </div>
         </div>
        <div class="col-sm-3">
          <div class="field">
            <%= select :salary,:certificate_master_id,all_certificate_master,{label: 'Select Certificate',include_blank: " Select Cetificate"}, class: "form-control" %>
          </div>
        </div>

      <div class="col-sm-3">
        <div class="actions">
         <%= f.submit "Select Employee", class: "btn btn-sm btn-primary" %> 
         <!--  <= f.submit "Print ",class: "btn btn-xl btn-warning fa fa-print" %> -->
         </div>
        </div>
      </div>
      
      <div id="offer_letter"></div>
      <div id="joining_letter"></div>
    </div>
  <%end%>
</div>

<script>
$("#salary").validate({
    rules: {
      "salary[employee_id]":{
        required: true,
      },
      "salary[certificate]":{
        required: true,
      }
    },
    messages: {
      "salary[employee_id]":{
        required: "Please Specify Employee",
      },
      "salary[certificate]":{
        required: "Please Select Certificate",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
