<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Certificates</h3>
  </div>
  <%= bootstrap_form_for :salary, url: { action: 'certificate_print',id: @employee}, remote:true do |f| %>
  <div class="box-body">

      <div class="row">
       <div class="col-sm-3">
      <div class="form-group required">
        <%= select :salary,:employee_id, all_employee_list, {label: "Employee",include_blank: "Select Employee"},{:class=>"select2",:style=>"width: 100%;",:tabindex=>"-1"} %>
      </div>
         </div>
        <div class="col-sm-3">
          <div class="field">
            <%= select :salary,:certificate, ['Character','Leaving','Service','Acceptance Of Resignation'],{label: 'Select Certificate',include_blank: " Select Cetificate"}, class: "form-control" %>
          </div>
        </div>

      <div class="col-sm-3">
        <div class="actions">
         <%= f.submit "Select Employee", class: "btn btn-sm btn-primary" %> 
         <!--  <= f.submit "Print ",class: "btn btn-xl btn-warning fa fa-print" %> -->
         </div>
        </div>
      </div>
      <br><br>
      <div id="display_certificate"></div>
      <div id="address_proof"></div>
      <div id="character_certificate"></div>
      <div id="service_certificate"></div>
    </div>
  <%end%>
</div>