<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Quarter Income Tax Detail</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="quarter_income_tax_list">
			<%= render 'quarter_income_tax_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->
