<div class="box box-default">
<div class="box-header with-border">
<h3 class="box-title">Compliance Type</h3>

<div class="box-body">
<div id="form"><%= render 'form' %></div>
<div id="compliance_type_list"><%= render 'compliance_type_list' %></div>
</div><!-- /.box-body -->
</div><!-- /.box -->
