<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= @gallery.name %> </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= @gallery.description %>
  </div>

<div class="row">
  <ul class="thumbnails files">
<% unless @pictures.empty? %>
  <% @pictures.each do |pic| %>
    <li class="span3">
    <div class="thumbnail">

      <%= image_tag pic.image.url%>
     
    </div>
    </li>
  <% end %>
<% end %>
</ul>
</div></div>

