<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Update Details</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
		<%= render 'form' %>
	</div>
</div>
<!-- 
<= link_to 'Show', @issue_request %> |
<= link_to 'Back', issue_requests_path %>
 -->