<div class="box">
  <div class="box-header">
    <h3 class="box-title">Issue Tracker</h3>
    <div class="pull-right">
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-3">
      <label>Date</label>
         <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= text_field :id,:date,placeholder: "Date",class: 'form-control request_date'%>
          </div>
         </div>
      </div>
      <div class="col-sm-3">
      <label>Group</label>
        <div class="field">
          <%= select :id, :issue_tracker_group_id, all_issue_tracker_group,{include_blank: 'select Group'},{onchange:"var a={group_id:$(this).val(), datea:$('#id_date').val()}; $.get('/issue_tracker_members/collect_memberwise_dropdown',a,function(response){});",class: 'form-control'}%>
        </div>

      </div>
      <div class="col-sm-3">
        <div class="form-group required">
           <div id="issues">
              <%= render 'issue_tracker_members/memberwise_dropdown' %> 
           </div> 
        </div>
      </div>
    </div>
      <div id="memberwise_li"></div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('.request_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+1',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>