<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Support Request</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="show_self_request">
			<%= render 'show_self_request' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->