<div class="box box-default">
	<div class="box-body">
		<div id="add_attendance">
			<%= render 'add_attendance' %>	
		</div>
		
 <div id="show_current_attendance">
	<%= render 'show_current_attendance' %> 	
 </div>
		<!-- <div id="rating_list">
			<= render 'week_off_list' %>
		</div> -->
	</div><!-- /.box-body -->
</div><!-- /.box -->