<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Welcome to HRMS-ONE,</h4>
    <p>
      Your leave request is approved at first level.<br>
    </p>
  </body>
</html>