<!-- <table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Present</th>
      <th>Day</th>
      <th>In Time</th>
      <th>Out Time</th>
      <th>Working Hrs</th>
    </tr>
  </thead>
  <tbody>
    < @employee_attendances.each do |e| %>
      <tr>
        <td><= e.try(:present) %></td>
        <td><= e.try(:day) %></td>
        <td><= e.try(:in_time) %></td>
        <td><= e.try(:out_time) %></td>
        <td><= e.try(:working_hrs) %></td>
      </tr>
    < end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script> -->