<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Add Attendance</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="self_attendance_form">
      <%= render 'self_attendance_form' %>  
    </div>
    
    <div id="self_attendance_list">
      <%= render 'self_attendance_list' %>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->