<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">C Off</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="leave_c_off_form">
      <%= render 'leave_c_off_form' %>  
    </div>
    
    <div id="leave_c_off_list">
      <%= render 'leave_c_off_list' %>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->