<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Reimbursement</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="reimbursement_form">
      <%= render 'reimbursement_form' %>  
    </div>
    
    <div id="reimbursement_list">
      <%= render 'reimbursement_list' %>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->