.preview {
  height: 100px;
}

.thumbnail a > img {
  display: block;
  max-width: 30%;
  max-height: 30%;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail1 a > img {
  display: block;
  max-width: 10%;
  max-height: 10%;
  margin-left: 5px;
  margin-right: 5px;
}

.thumbnail .preview > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.files .span3 {
  width: 520px;
}

.files .span3 .thumbnail {
  height: 370px;
}

.progress {
  height: 8px;
  margin-top: 10px;
}
.progress-success.progress-striped .bar {
  background-color: #7D7D7D;
}

img {
  max-width: none;
}
.form-horizontal .control-label {
  text-align: left;
}
.form-horizontal input.text_field {
  width: 300px;
}
.form-horizontal input.text_area {
  width: 600px;
}