<!-- <meta http-equiv="refresh" content="7">   
 --><div class="modal-dialog"  style="height:2000px; max-height:400px; width:630px; max-width:630px;">
  <div class="modal-content"> 
    <div class="modal-body">
    <%= bootstrap_form_for :employee_document,url:{action:"update_document",id: @employee_document.id},remote:true do |f| %>
        <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :name,label:'Document Name', placeholder: 'Name' %>
          </div>
        </div>
        <div class="col-sm-3">
          <label>Status</label>
          <div class="field">
            <%= f.check_box :status , label:'Active'%>
          </div>
        </div>
        </div>
        <div class="row">
           <div class="col-sm-2">
            <%= f.submit "Update Document", class: 'btn btn-sm btn-success fa fa-modx' %>
          </div>
          </div> 
          <% end %>
          </div>
        </div>
</div>
