<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    
      <tr><th colspan="5"><center>FORM NO.16</center></th></tr>
      <tr><th colspan="5"><center>[see Rule 31(a)]</center></th></tr>
      <tr><th colspan="5"><center>PART A</center></th></tr>
      <tr><th colspan="5"><center>Certificate under section 203 of the income-tax Act, 1961 for tax deducted at source on Salary </center></th>
     </tr>
     </thead>
  <tbody>
  <tr>
   <tr>
      <th colspan="2.5">Anubhi Golechha</th>
      <th colspan="2.5"> Tanuja chaurey</th>
   </tr>
   <tr>
   	<th colspan="1.5">Mahesh Sharma</th>
   	<th colspan="2">Ravikiran </th>
   	<th colspan="1.5">Vishal Hake</th>
   </tr>
  
   </tbody>
   </table>
