<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Report</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:emploee, url: { action: 'employee_basic_report',format: 'xls'}) do |f| %>

      <div class="col-sm-3">
          <div class="field">
          <%= select :salary, :company_location_id, all_company_location2,{include_blank: 'select Location'},{onchange:"var a={id:$(this).val()}; $.get('/reports/basic_details/collect_departments',a,function(response){});", class: "form-control"}%>
          </div>
      </div>

      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Download Excel", class: "btn btn-sm btn-primary" %>
        </div>
      </div>

      </div><br>
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->