  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Attendance</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

      <%= bootstrap_form_for(:salary, url: { action: 'department_wise_employee_list'},html: {id: "salary"},remote: true) do |f| %>
        <div class="row">
          <div class="col-sm-3">
          <label>Department</label>
            <div class="field">
              <%= select :salary, :department_id, all_department,{hide_label: true, include_blank: 'Select Department'},{class: "form-control"} %>
            </div>
          </div>
         
          <div class="col-sm-3">
          <label></label>
            <div class="actions">
              <%= f.submit "Create Attendance" ,class: 'btn btn-primary btn-sm', id: "buttonCtc" %>
            </div>
          </div>
        </div>
        <br>
      <% end %>

      <div class="ajax-progress"></div>
      <div class="row">
        <div class="col-sm-12">
          <div id="employee_list"></div>    
        </div>
      </div>

    </div><!-- /.box-body -->
  </div><!-- /.box -->

  <script type="text/javascript">
    $("#buttonCtc").click(function(){
      $('.ajax-progress').show();
      $("#salary").submit();
    })
  </script>