
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Access Card Forgotten Request</h3>
  </div>
  <%= bootstrap_form_for(:salary,url:{ action: 'access_card_list'},html: {id: "salary"}) do |f| %>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= text_field :salary,:date,label: "Date",placeholder: "Date",class: 'request_date form-control'%>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
            <%= text_field :salary,:employee_code,label: 'Card No',placeholder: "Card No",class: 'form-control'%>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Send Request" ,class: 'btn btn-primary btn-sm',id: "buttonCtc" %>
          </div>
        </div>
      </div><br>
      <div id="access_card_list"></div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#advance_salary").submit();
  })
</script>

<script type="text/javascript">
  $(function(){
    $('.request_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+1',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>

<script>
$("#salary").validate({
    rules: {
      "salary[date]":{
        required: true,
      },
      "salary[employee_code]":{
        required: true,
      }
    },
    messages: {
      "salary[date]":{
        required: "Please select Date",
      },
      "salary[employee_code]":{
        required: "Please select Card No",
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
