<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Attendance</h3>
    <div class="pull-right">
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">

    <%= bootstrap_form_for(:salary, url: { action: 'show_employee_list'},html: {id: "salary"},remote: true) do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <label>Department</label>
          <div class="form-group required">
            <%= select :salary, :department_id, all_department,{hide_label: true, include_blank: 'Select Department'},{class: "form-control"} %>
          </div>
        </div>
        <div class="col-sm-3" style="padding-top:20px;">
          <div class="actions">
            <%= f.submit "Create Attendance" ,class: 'btn btn-primary btn-sm', id: "buttonCtc" %>
          </div>
        </div>
      </div>

    <% end %>
    </div>
  </div>
</div>
