<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Attendance</h3>
    <div class="pull-right">
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="comments">
      <table id="example3" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th><%= @employee_attendances.first.try(:day) %>
          </tr>
        </thead>

        <tbody>
        <tr>
          <% @employee_attendances.each do |employee_attendance| %>
            <th><%= employee_attendance.employee.try(:manual_employee_code) %></th>
             <td><%= employee_attendance.present %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>