<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Attendance</h3>
    <div class="pull-right">
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="comments">
      <table id="example3" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Employee Name</th>
            <% for i in 1..@day %>
              <td><%= i %></td>
            <%end%>
          </tr>
        </thead>

        <tbody>
        <% exist = {} %>
          <% @employees.each do |e| %>
            <tr>
              <th><%= full_name(e) %></th>
              <% attendance_records = EmployeeAttendance.where("strftime('%m/%Y', day) = ? and employee_id = ?", @date.strftime('%m/%Y'), e.id) %>

              <% attendance_records.each do |a| %>
                <% exist[a.day] = a.present %>
              <% end %>

              <% leave_records = ParticularLeaveRecord.where("strftime('%m/%Y', leave_date) = ? and employee_id = ?", @date.strftime('%m/%Y'), e.id) %>

              <% leave_records.each do |l| %>
                <% exist[l.leave_date] = "L" %>
              <% end %>

              <% holidays = Holiday.where("strftime('%m/%Y', holiday_date) = ?", @date.strftime('%m/%Y')) %>

              <% holidays.each do |h| %>
                <% exist[h.holiday_date] = "H" %>
              <% end %>

              <% start_date = @date.beginning_of_month %>
              <% end_date = @date.end_of_month %>
              <% sorted_exists = Hash[exist.sort] %>
              <% sorted_exists.each do |k,v|%>
                <td><%= v %></td>
              <%end%>
            </tr>
            <% exist.clear %>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>