<!-- <div id="calendar"></div>
<script type="text/javascript">
$('#calendar').fullCalendar({
  employee_attendances: '/employee_attendances.json'
  });
</script> -->


<div id="calendar"></div>
<br>


<script type="text/javascript">
$('#calendar').fullCalendar({
  events: '/events.json'
  });
</script>