  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Employee Not Found</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
      <%= bootstrap_form_for(:salary,url:{action:"not_found" },html: {id: "salary"}) do |f| %>

        <div class="row">

          <div class="col-sm-4">
            <label>Date </label>
            <div class="form-group required">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                  <%= text_field :salary,:date,hide_label: true,class: 'day_date form-control'%>
              </div>
            </div>
          </div>

          <div class="col-sm-4" style="padding-top:20px;">
            <div class="actions">
              <%= f.submit "Employee Not Found" ,class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        </div>
        <br>
      <% end %>

    </div><!-- /.box-body -->
  </div><!-- /.box -->

  <script type="text/javascript">

    $(function(){
      $('.day_date').datepicker({
      changeYear:true,
      changeMonth: true,
      yearRange: '-2:+20',
      dateFormat: 'dd-mm-yy' });
    });
</script>