<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Attendance</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <div class="row">
        
        <div class="col-sm-3">
          <div class="field">
            <%= select :employee_attendance,:year,['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024','2025','2026','2027'],{label: 'Select Year',include_blank: " Select Year"},class: "form-control" %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= select :employee_attendance,:month, ['January','February','March','April','May','June','July','August','September','October','November','December'],{label: 'Select Month',include_blank: " Select Month"}, {onchange:"var a={department_id:$(this).val(),month:$('#employee_attendance_month').val(),year:$('#employee_attendance_year').val()};$('.ajax-progress').show(); $.get('/employee_attendances/display_employee_attendance_list',a,function(response){});",class: 'form-control'} %>
           </div>
        </div>
        </div>
     </div>
   <div id="employee_attendance_li"></div>
</div>
</div>