<div class="box">
  <div class="box-header">
    <h3 class="box-title">Attendance Date Wise</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  
  	 <div class="row">
        <div class="col-sm-3">
         <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= text_field :salary, :date,{hide_label: true , placeholder: 'Date',class: 'form-control request_date'}%>
          </div>
         </div>
        </div>

      <div class="col-sm-3">
        <div class="field">
        <%= select :salary, :present,['P','W','A','P/2','PG'],{include_blank: "Select Option"},{onchange:"var a={present:$(this).val(),date:$('#salary_date').val()};$('.ajax-progress').show(); $.get('/employee_attendances/show_datewise_employee',a,function(response){});",class: 'form-control'} %>
        </div>
      </div>  
      </div><br>
    <div id="employee_list_pdf"></div>
</div>
</div>


<script type="text/javascript">
  $(function(){
    $('.request_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+1',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>