
	<div class="col-sm-2">
	  <label>First Half</label>
	  <div class="form-group required">
	  	<%= check_box :common,:first_half, label: 'First Half' %>
	    <%= hidden_field_tag :flag, "Full/Half" %>
	  </div>
	</div>