<div class="col-sm-2">
	<label>C.Off Date</label>
  <div class="form-group required">
  	<%= select :common, :c_off_date ,leav_c_off_half_admin(@employee_id),{include_blank: " Select Date"},class: 'form-control' %>
    <%= hidden_field_tag :flag, "Half" %>
  </div>
</div>