
	<div class="col-sm-2">
	  <label>Last Half</label>
	  <div class="form-group required">
	  	<%= check_box :common,:last_half, label: 'Last Half' %>
	    <%= hidden_field_tag :flag, "Full/Half" %>
	  </div>
	</div>
