<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Salary Component Mapping</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="salary_comp_mapping_li">
			<%= render 'salary_comp_mappings_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

