<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Short Leave Request</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="form">
      <%= render 'input_form' %>
    </div>

    <div id="short_leave_list">
      
    </div>

  </div><!-- /.box-body -->
</div><!-- /.box -->