
	<div class="col-sm-3">
	  <label>Contract Month</label>
	  <div class="form-group required">
	  	<%= text_field_tag :contract_month %>
	    <%= hidden_field_tag :flag, "Full/Half" %>
	  </div>
	</div>
