<label class="control-label" for="passport_no" aria-required="true">Passport No</label>
<%= text_field :joining_detail, :passport_no,class: "form-control" %>

<label class="control-label" for="passport_issue_date" aria-required="true">passport_issue_date</label>
<%= text_field :joining_detail, class: 'passport_issue_date'%>

<label class="control-label" for="passport_expiry_date" aria-required="true">passport_expiry_date</label>
<%= text_field :joining_detail, class: 'passport_expiry_date'%>