<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Certificates</h3>
  </div>
  <%= bootstrap_form_for :salary, url: { action: 'certificate_print',id: @employee}, remote:true do |f| %>
  <div class="box-body">

      <div class="row">
        <div class="col-sm-3">
          <div class="field">
          <%= select :salary,:employee_id, all_employee_list,{include_blank: 'Select Employee'},{ class: "form-control"}%>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= select :salary,:certificate, ['Joining Letter','Offer Letter'],{label: 'Select Certificate',include_blank: " Select Cetificate"}, class: "form-control" %>
          </div>
        </div>

      <div class="col-sm-3">
        <div class="actions">
         <%= f.submit "Select Employee", class: "btn btn-sm btn-primary" %> 
         <!--  <= f.submit "Print ",class: "btn btn-xl btn-warning fa fa-print" %> -->
         </div>
        </div>
</div>
 <div id="joining_certificate"></div>
  <div id="offer_letter"></div>
 </div>
  <%end%>
</div>