<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee List For Overtime Salary</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
     <div class="row">
      <div class="col-sm-3">
        <div class="field">
          <%= select :salary,:month_name, ['January','February','March','April','May','June','July','August','September','October','November','December'],{label: 'Select Month',include_blank: " Select Month"}, class: "form-control" %>
         </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <%= select :salary,:year,['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024','2025','2026','2027'],{label: 'Select Year',include_blank: " Select Year"},{onchange:"var a={year:$(this).val(),month:$('#salary_month_name').val()}; $.get('/overtime_salaries/collect_employee',a,function(response){});",class: 'form-control'} %>
        </div>
      </div>
      </div><br>
    <div id="employee_list"></div>
  </div>
</div>