<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Leave Request Cancelled</h4>
    <p>
      Leave request is Cancel after approved by
      ID : <%= @current_emp.manual_employee_code %><br>
      Employee : <%= @current_emp.first_name.to_s+' '+@current_emp.last_name.to_s %><br>
      Date <%= @particular_leave_record.leave_date.to_date %><br>
    </p>
  </body>
</html>
