<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
<div class="box-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="field">
         <%= text_field :employee_id,:hhh,{oninput:"var a={employee_code:$(this).val()}; $.get('/attendances/find_employee_for_attendance',a,function(response){});",class: 'form-control',placeholder:'Search by Employee id'} %>
        </div>
      </div>
    </div>
    <div id="employee_shift">
      
    </div>
  <!-- <button id="btnAdd">Add</button> -->
</div><!-- /.box-body -->
  
</div><!-- /.box -->