
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Attendance</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		<div id="employee_list">
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->