<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      
      <th>Passout Year</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @years.each do |year| %>
      <tr>
        <td><%= year.name %></td>
        <td>
          <% if year.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_year_path(year),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  year, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
            <%= link_to '', is_confirm_years_path(year: year),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>