<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Resume Shortlisted</h4>
    <p> 
      This is to inform you that your Resume has been Shortlisted<br><br>
	     
     </p>
  </body>
</html>