<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Notes </h3>
     <div class="pull-right">
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>
			<%= link_to 'Back', meeting_minutes_path, class: 'btn btn-sm btn-default fa fa-arrow-left' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->
