<br/>
<% if notice %>
<div class="alert alert-success text-center" id="success-alert">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger text-center" id="success-alert">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <%= alert %>
</div>
<% end %>