<div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><center> Confirm Candidates </center></h4>
    </div>
    <div class="modal-body" style="height:1000px; max-height:100px; width:630px; max-width:630px;">
     <%= bootstrap_form_for :particular_vacancy_request,url:{action:"confirm_candidate",id: @particular_vacancy_request.id},html: {id: 'particular_vacancy_request'} do |f| %>
        <div class="row">
          <div class="col-sm-6">
             <%= f.select :candidate_name, all_candidate_name2, {hide_label: true,include_blank: " Select Candidate Name"}, class: 'input_degree_stream_id' %>
          </div>
          <div class="col-sm-3">
            <%= f.submit "Confirm Candidates", class: 'btn btn-sm btn-primary fa fa-modx' %>
          </div>
        </div>
      <% end %>
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    </div>
  </div>
</div>

<script>
$("#particular_vacancy_request").validate({
    rules: {
      "particular_vacancy_request[candidate_name]":{
        required: true,
      }
    },
    messages: {
      "particular_vacancy_request[candidate_name]":{
        required: "Please specify Candidate Name",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>

