<div class="col-sm-3">
<label>No. Of Days</label>
    <div class="field">
       <%= text_field :common, :notice_period_day,class: 'form-control' %>
	    <%= hidden_field_tag :flag, "true" %>   
    </div>
  </div>