
<div class="col-sm-3">
<label>Relocation Cost</label>
    <div class="field">
       <%= text_field :common, :relocation_cost,class: 'form-control' %>
	    <%= hidden_field_tag :flag, "true" %>   
    </div>
  </div>